In [34]:
with open('user_data_23_4.csv', 'r') as csv_file:
    csv_data = [line.strip().split(',') for line in csv_file]
    
import json

with open('user_data_23_4.json', 'r') as json_file:
    json_data = json.load(json_file)
    
import xml.etree.ElementTree as ET

xml_tree = ET.parse('user_data_23_4.xml')
xml_root = xml_tree.getroot()

with open('user_data_23_4.txt', 'r') as txt_file:
    txt_data = txt_file.read()

In [43]:
with open('user_data_23_4.csv', 'r') as csv_file:
    # Read lines from the file
    lines = csv_file.readlines()

    # Extract header and data
    header = lines[0].strip().split(',')
    data = [line.strip().split(',') for line in lines[1:]]
print("Header:", header)

# Print the data
print("Data:")
for row in data:
    print(row)

Header: ['First Name', 'Second Name', 'Age (Years)', 'Sex', 'Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']
Data:
['Leon', 'Smith', '48', 'Male', 'Mercedes-Benz', 'Astro Cargo', '2009', 'Pickup']
['Margaret', 'Mason', '35', 'Female', 'Honda', 'Sable', '2015', 'Van/Minivan']
['Guy', 'Harrison', '26', 'Male', 'Chevrolet', 'S60', '2013', 'SUV']
['Denise', 'Robinson', '30', 'Female', 'Ford', 'Tucson', '2002', 'Sedan']
['Simon', 'Fox', '27', 'Male', 'Toyota', 'Dart', '2005', 'SUV']
['Tom', 'Cooke', '69', 'Male', 'Hyundai', 'Liberty', '2019', 'Pickup']
['Fiona', 'Marshall', '86', 'Female', 'Chevrolet', 'Pathfinder', '2006', 'SUV']
['Mitchell', 'Davidson', '84', 'Male', 'Subaru', 'A8', '2006', '"Sedan', ' Hatchback', ' Wagon"']
['Sam', 'Long', '83', 'Male', 'Mercedes-Benz', 'Azure T', '2018', 'Coupe']
['Sean', 'Perry', '87', 'Male', 'Ford', '1500 Regular Cab', '2010', 'SUV']
['Jacob', 'Bennett', '66', 'Male', 'Mercedes-Benz', 'Impreza', '1999', 'SUV']
['Lydia', 'Henderson', '62', 'Female', 'Nissan', 'GLC Coupe', '2006', 'SUV']
['Nathan', 'Slater', '81', 'Male', 'Cadillac', 'RLX', '1992', 'Sedan']
['Claire', 'Russell', '41', 'Female', 'Mercedes-Benz', 'Voyager', '1992', 'Van/Minivan']
['Katy', 'Green', '78', 'Female', 'Volvo', 'Galant', '1992', 'Wagon']
['Duncan', 'Moore', '67', 'Male', 'Volkswagen', 'SLK-Class', '1997', 'Sedan']
['Abbie', 'Miller', '73', 'Female', 'Dodge', 'del Sol', '2002', 'Sedan']
['Amber', 'Hobbs', '21', 'Female', 'Toyota', 'Rodeo', '1999', 'Van/Minivan']
['Samuel', 'Daniels', '47', 'Male', 'Volvo', 'Clarity Electric', '2016', 'SUV']
['Louise', 'Parry', '66', 'Female', 'Ford', 'Ram 1500 Quad Cab', '2003', '"Sedan', ' Coupe"']
['June', 'Macdonald', '67', 'Female', 'Cadillac', 'Camaro', '2016', '"Sedan', ' Hatchback"']
['Eileen', 'Lee', '55', 'Female', 'Volkswagen', 'Grand Cherokee', '2015', 'Sedan']
['Sian', 'Mason', '72', 'Female', 'Toyota', 'Armada', '1993', '"Hatchback', ' Convertible"']
['Brett', 'Mason', '89', 'Male', 'Mercedes-Benz', 'Neon', '2010', 'Sedan']
['Joan', 'Clarke', '83', 'Female', 'Audi', 'Fusion', '2008', 'Van/Minivan']
['Lynne', 'Harris', '90', 'Female', 'Chevrolet', 'California', '2011', '"Coupe', ' Convertible"']
['Tony', 'Singh', '77', 'Male', 'Ford', 'Ranger Super Cab', '1997', 'Pickup']
['Arthur', 'Austin', '61', 'Male', 'Dodge', 'Montana', '2018', 'Van/Minivan']
['Damien', 'Turner', '67', 'Male', 'Ford', 'TITAN XD Crew Cab', '2005', 'Pickup']
['Elaine', 'Andrews', '57', 'Female', 'Chrysler', 'NX', '1999', '"Coupe', ' Convertible"']
['Dominic', 'Hayes', '48', 'Male', 'FIAT', 'XC90', '2000', '"Hatchback', ' Convertible"']
['Sally', 'Holt', '57', 'Female', 'Saab', 'Equus', '2019', 'SUV']
['Lindsey', 'Davies', '85', 'Female', 'Toyota', 'Corsica', '1999', 'Sedan']
['Rhys', 'George', '48', 'Male', 'Lexus', 'Ram 2500 Mega Cab', '2018', 'Hatchback']
['Leonard', 'Lewis', '44', 'Male', 'Dodge', 'Odyssey', '1998', 'Sedan']
['Sarah', 'Parsons', '19', 'Female', 'Toyota', 'Acadia', '2018', 'Wagon']
['Kim', 'Baxter', '89', 'Female', 'Rolls-Royce', 'Forte', '2000', 'SUV']
['Danny', 'Evans', '32', 'Male', 'Acura', 'Jetta', '2011', 'Van/Minivan']
['Brett', 'Smith', '64', 'Male', 'Mercedes-Benz', 'Cayenne', '2004', 'SUV']
['Jane', 'Bradley', '46', 'Female', 'Ram', 'Veloster', '2019', 'Sedan']
['Paige', 'Smith', '60', 'Female', 'Kia', 'Express 2500 Cargo', '2009', 'Pickup']
['Kevin', 'Clarke', '72', 'Male', 'McLaren', 'F150 Regular Cab', '2011', 'Pickup']
['Ross', 'Parsons', '31', 'Male', 'Kia', 'Grand Vitara', '2008', 'Van/Minivan']
['Jay', 'Simpson', '75', 'Male', 'Dodge', 'Safari Passenger', '2015', 'Hatchback']
['Grace', 'Gray', '42', 'Female', 'GMC', 'GTI', '2012', 'Sedan']
['Clifford', 'Campbell', '63', 'Male', 'Oldsmobile', 'Challenger', '2010', '"Convertible', ' Coupe"']
['Roger', 'Griffiths', '67', 'Male', 'Nissan', 'Colorado Crew Cab', '2015', 'Hatchback']
['Mathew', 'Coates', '50', 'Male', 'Dodge', 'C-Class', '2005', 'Sedan']
['Grace', 'Brown', '20', 'Female', 'Toyota', 'X-Type', '2018', '"Sedan', ' Wagon"']
['Amanda', 'Jones', '48', 'Female', 'Mercury', 'A8', '2006', '"Coupe', ' Convertible"']
['Darren', 'Nicholson', '91', 'Male', 'Pontiac', '3500 HD Regular Cab', '2001', 'Sedan']
['James', 'Butler', '81', 'Male', 'Oldsmobile', 'Vibe', '1999', 'Van/Minivan']
['Gareth', 'Sykes', '77', 'Male', 'Chrysler', 'Traverse', '1995', 'SUV']
['Pauline', 'Fox', '35', 'Female', 'Chevrolet', 'Crown Victoria', '1997', 'Pickup']
['Naomi', 'Williams', '82', 'Female', 'Scion', '500', '2007', 'Sedan']
['Benjamin', 'Griffin', '91', 'Male', 'Ford', 'ProMaster Cargo Van', '2003', 'SUV']
['Kevin', 'Harrison', '75', 'Male', 'Chevrolet', 'LX', '2017', 'Van/Minivan']
['Lydia', 'Thompson', '72', 'Female', 'Audi', 'Vandura 3500', '1997', 'SUV']
['Paige', 'Lees', '72', 'Female', 'Dodge', 'Eldorado', '2005', 'Sedan']
['Marc', 'Parker', '44', 'Male', 'INFINITI', 'Montana', '2017', 'Sedan']
['Stephen', 'Sullivan', '89', 'Male', 'Lexus', '3 Series', '1999', 'Coupe']
['Charlie', 'West', '36', 'Male', 'Lincoln', 'Regular Cab', '2009', 'Sedan']
['Ricky', 'Hill', '18', 'Male', 'BMW', 'Escalade ESV', '2000', 'Sedan']
['Bethan', 'Warren', '73', 'Female', 'Lincoln', 'Sierra 3500 HD Crew Cab', '2017', 'Van/Minivan']
['Graeme', 'Burns', '83', 'Male', 'Dodge', 'Silverado 3500 HD Extended Cab', '2002', 'Wagon']
['Brett', 'Hall', '28', 'Male', 'Cadillac', 'Ridgeline', '2020', 'Sedan']
['Richard', 'Hussain', '54', 'Male', 'Ford', 'Canyon Regular Cab', '2017', 'SUV']
['Frank', 'Martin', '72', 'Male', 'Honda', 'LS', '1993', 'Sedan']
['Harry', 'Fleming', '43', 'Male', 'Mercedes-Benz', 'Taurus X', '2015', 'Sedan']
['Yvonne', 'Thompson', '20', 'Female', 'Nissan', 'GT', '2019', 'Pickup']
['William', 'Brown', '46', 'Male', 'Mercedes-Benz', 'QX60', '2006', 'Van/Minivan']
['Ashleigh', 'Leach', '65', 'Female', 'Volvo', 'Sunfire', '2010', 'SUV']
['Wayne', 'Reeves', '48', 'Male', 'Kia', 'F250 Super Duty Super Cab', '2014', 'SUV']
['Anna', 'Parkinson', '34', 'Female', 'Ferrari', 'G5', '2015', 'Van/Minivan']
['Callum', 'Middleton', '48', 'Male', 'Audi', 'Camry', '2000', 'Sedan']
['Gary', 'Skinner', '47', 'Male', 'Subaru', 'Brooklands', '2004', '"Sedan', ' Wagon"']
['Kerry', 'Smith', '19', 'Female', 'Suzuki', 'Murano', '1995', 'Sedan']
['Marion', 'James', '55', 'Female', 'Chrysler', '400 SE', '1993', 'Sedan']
['Amber', 'Stewart', '48', 'Female', 'Pontiac', 'Range Rover', '2006', 'Sedan']
['Tracy', 'Wilson', '71', 'Female', 'Audi', 'GLS', '2019', 'SUV']
['Toby', 'Barnes', '57', 'Male', 'Scion', 'Sonic', '2010', 'Pickup']
['Marcus', 'Atkinson', '47', 'Male', 'Dodge', 'F450 Super Duty Crew Cab', '2007', 'SUV']
['Georgia', 'Ellis', '66', 'Female', 'Hyundai', 'Optima', '2009', 'Van/Minivan']
['Damien', 'Sharp', '47', 'Male', 'Nissan', 'Mustang', '1993', 'Hatchback']
['Alexandra', 'Walker', '82', 'Female', 'Chrysler', 'SLK-Class', '2004', 'Pickup']
['Julie', 'Jones', '68', 'Female', 'Ford', 'Corvette', '2017', 'Hatchback']
['Tracy', 'Hill', '26', 'Female', 'Honda', 'S10 Extended Cab', '2014', '"Coupe', ' Convertible"']
['Jacqueline', 'Cook', '68', 'Female', 'Pontiac', 'Sprinter 3500 Cargo', '2003', 'SUV']
['Lynne', 'Palmer', '43', 'Female', 'Volvo', 'Ridgeline', '2018', '"Coupe', ' Sedan', ' Convertible"']
['Glen', 'Perry', '82', 'Male', 'Chevrolet', 'CX-30', '1998', '"Sedan', ' Coupe"']
['Abdul', 'Finch', '74', 'Male', 'Mercedes-Benz', 'Brooklands', '2005', 'SUV']
['Benjamin', 'Pugh', '72', 'Male', 'GMC', 'Discovery', '2016', 'Pickup']
['Bruce', 'Harrison', '44', 'Male', 'Chevrolet', 'Edge', '1997', 'Pickup']
['Maurice', 'Jackson', '21', 'Male', 'GMC', 'Escape', '2008', '"Coupe', ' Convertible"']
['Susan', 'Hughes', '37', 'Female', 'Chevrolet', 'Silverado 3500 HD Regular Cab', '1994', 'SUV']
['Heather', 'Goddard', '69', 'Female', 'Aston Martin', 'Skylark', '2006', 'Coupe']
['Georgia', 'Hughes', '41', 'Female', 'Buick', '5 Series', '2014', 'Van/Minivan']
['Stephanie', 'Gibson', '90', 'Female', 'Suzuki', 'Ram Van B250', '2002', 'Coupe']
['Jennifer', 'Spencer', '60', 'Female', 'Land Rover', 'C-Class', '2016', 'Sedan']
['Kimberley', 'Mahmood', '69', 'Female', 'Toyota', 'Explorer', '2012', 'SUV']
['Elaine', 'Evans', '40', 'Female', 'Ford', 'B-Series Regular Cab', '2007', '"Coupe', ' Convertible"']
['Maurice', 'Pearson', '21', 'Male', 'Chevrolet', 'Civic', '2019', 'Pickup']
['Dorothy', 'Harvey', '68', 'Female', 'Ford', 'F150 SuperCrew Cab', '2019', 'Van/Minivan']
['Jennifer', 'Chamberlain', '25', 'Female', 'Chevrolet', 'Safari Passenger', '2003', '"Sedan', ' Coupe"']
['John', 'Smith', '40', 'Male', 'Lamborghini', 'MPV', '2002', 'Sedan']
['Jane', 'Duncan', '35', 'Female', 'Ram', 'Grand Am', '2006', 'Sedan']
['Martyn', 'Smith', '84', 'Male', 'Subaru', 'Dakota Quad Cab', '2005', 'SUV']
['Laura', 'Lee', '85', 'Female', 'Chrysler', 'QX80', '1994', 'Sedan']
['Craig', 'Richardson', '60', 'Male', 'Acura', 'C-Class', '2014', 'SUV']
['Marilyn', 'Brown', '31', 'Female', 'Nissan', 'Range Rover Sport', '1995', 'SUV']
['Vanessa', 'Cox', '34', 'Female', 'Mitsubishi', 'Grand Prix', '2012', 'Sedan']
['Cameron', 'Hawkins', '42', 'Male', 'Cadillac', 'Crown Victoria', '1995', 'Van/Minivan']
['Abbie', 'Smith', '51', 'Female', 'Chevrolet', 'Silverado 2500 HD Crew Cab', '2016', 'Convertible']
['Ashleigh', 'Adams', '36', 'Female', 'Jeep', 'Discovery', '2006', 'SUV']
['Marie', 'Roberts', '31', 'Female', 'Acura', 'Silverado 1500 Regular Cab', '2017', 'Van/Minivan']
['Douglas', 'Williams', '39', 'Male', 'Volvo', 'LS', '1996', '"Sedan', ' Hatchback"']
['Paige', 'Sullivan', '56', 'Female', 'INFINITI', 'Escalade ESV', '2002', 'SUV']
['Lucy', 'Wood', '63', 'Female', 'MAZDA', 'Canyon Regular Cab', '2008', 'Pickup']
['Iain', 'Shaw', '49', 'Male', 'Volvo', 'G-Class', '1993', 'Sedan']
['Rosie', 'Reed', '53', 'Female', 'MINI', 'RSX', '2002', 'SUV']
['Nicole', 'Smith', '88', 'Female', 'INFINITI', 'Range Rover Sport', '1996', 'Sedan']
['Patricia', 'Smith', '46', 'Female', 'BMW', 'Sprinter 2500 Cargo', '2008', 'Sedan']
['Ronald', 'Carter', '54', 'Male', 'Buick', 'ES', '2007', 'Van/Minivan']
['Hilary', 'Ward', '27', 'Female', 'Toyota', 'Stealth', '2018', 'Pickup']
['Raymond', 'Hall', '32', 'Male', 'Bentley', 'Tundra Regular Cab', '2004', 'Sedan']
['David', 'Hopkins', '55', 'Male', 'Ford', 'Oasis', '2003', 'SUV']
['Gillian', 'Foster', '78', 'Female', 'Chrysler', 'X5 M', '2006', 'Van/Minivan']
['Beth', 'Whittaker', '27', 'Female', 'Buick', 'City Express', '2017', 'Sedan']
['Ricky', 'Nolan', '38', 'Male', 'GMC', 'Camry Hybrid', '2008', 'Sedan']
['Richard', 'Collins', '91', 'Male', 'Ram', 'A3', '2000', 'Van/Minivan']
['Jessica', 'White', '36', 'Female', 'Mercedes-Benz', 'F350 Super Duty Super Cab', '2012', 'Pickup']
['Chelsea', 'Richardson', '31', 'Female', 'Nissan', 'Compass', '2001', 'SUV']
['Hollie', 'Webb', '29', 'Female', 'GMC', 'Sonoma Regular Cab', '1995', 'Convertible']
['Michelle', 'Reid', '57', 'Female', 'MAZDA', 'Transit 350 Van', '1995', '"Wagon', ' Convertible', ' Sedan"']
['Stacey', "O'Donnell", '29', 'Female', 'Ram', 'Windstar Cargo', '1999', 'Van/Minivan']
['Sian', 'Whitehouse', '91', 'Female', 'Kia', 'New Beetle', '2011', 'Sedan']
['Lucy', 'Armstrong', '45', 'Female', 'INFINITI', 'Avalon', '2017', 'Hatchback']
['Patricia', 'Johnston', '65', 'Female', 'Nissan', 'Silverado 2500 HD Extended Cab', '1993', 'Convertible']
['Patrick', 'Young', '26', 'Male', 'Nissan', 'Grand Caravan Passenger', '1994', 'Sedan']
['Kelly', 'Sanderson', '36', 'Female', 'Toyota', 'Tiguan', '2012', 'Convertible']
['Nicole', 'Pritchard', '42', 'Female', 'Honda', 'S6', '1995', 'SUV']
['Barbara', 'Kemp', '64', 'Female', 'Ford', 'Silverado 2500 HD Regular Cab', '2019', 'SUV']
['Billy', 'Whitehead', '20', 'Male', 'Dodge', 'Camaro', '1994', 'Pickup']
['Jodie', 'Thomas', '87', 'Female', 'Chevrolet', 'Tracer', '2017', 'Sedan']
['Bryan', 'Yates', '59', 'Male', 'Mercedes-Benz', 'Caliber', '2009', 'Van/Minivan']
['Martyn', 'Harris', '78', 'Male', 'Toyota', 'Galant', '2008', 'Hatchback']
['Liam', 'Walton', '52', 'Male', 'Mercury', 'Tundra Double Cab', '2012', 'Sedan']
['Bethany', 'Pratt', '46', 'Female', 'Lincoln', 'F250 Crew Cab', '1994', 'SUV']
['Jamie', 'John', '82', 'Male', 'BMW', 'Justy', '2008', 'SUV']
['Marian', 'Edwards', '80', 'Female', 'Chevrolet', 'Suburban 2500', '2019', '"Coupe', ' Convertible"']
['Max', 'Clarke', '20', 'Male', 'BMW', 'Mariner', '1995', 'SUV']
['Marion', 'Hughes', '78', 'Female', 'Pontiac', 'Fit', '2010', '"Hatchback', ' Convertible"']
['Mark', 'Schofield', '18', 'Male', 'Porsche', 'G-Series 3500', '2010', 'SUV']
['Keith', 'Saunders', '56', 'Male', 'Mercedes-Benz', 'Hombre Spacecab', '2011', 'Coupe']
['Max', 'Johnson', '47', 'Male', 'BMW', 'i3', '2018', 'Sedan']
['Bradley', 'Norton', '46', 'Male', 'Ford', 'Discovery Sport', '1997', 'Wagon']
['Simon', 'Thomas', '77', 'Male', 'Lexus', 'Stinger', '2000', '"Sedan', ' Hatchback"']
['Joel', 'Mason', '43', 'Male', 'Mercedes-Benz', 'tC', '1992', '"Sedan', ' Wagon"']
['Gavin', 'Horton', '38', 'Male', 'Chevrolet', 'XE', '2005', 'Pickup']
['Jack', 'Harris', '50', 'Male', 'Ford', 'Silverado 3500 HD Regular Cab', '1995', 'Pickup']
['Billy', 'Goodwin', '85', 'Male', 'Dodge', 'Silverado 3500 Regular Cab', '2013', 'Pickup']
['Dominic', 'Thomas', '73', 'Male', 'Buick', '323', '1999', 'Hatchback']
['Graham', 'Fuller', '30', 'Male', 'Ford', 'Taurus', '2019', 'Sedan']
['Joe', 'Benson', '60', 'Male', 'GMC', 'MPV', '1999', '"Coupe', ' Convertible"']
['Donald', 'Price', '21', 'Male', 'Volkswagen', '4Runner', '2003', 'SUV']
['Jean', 'Carr', '30', 'Female', 'Honda', 'Mountaineer', '2011', 'SUV']
['Hugh', 'Long', '46', 'Male', 'Cadillac', 'SL-Class', '2006', '"Sedan', ' Wagon"']
['Sian', 'Lees', '82', 'Female', 'Mitsubishi', 'S-Class', '2012', 'Sedan']
['Bradley', 'Butler', '61', 'Male', 'Hyundai', 'Renegade', '2019', 'Sedan']
['Joyce', 'Ali', '88', 'Female', 'Alfa Romeo', 'Canyon Crew Cab', '2010', 'SUV']
['Michael', 'Harrison', '21', 'Male', 'GMC', 'Exige', '1993', 'Hatchback']
['Marc', 'Howard', '23', 'Male', 'Hyundai', 'Forte', '2020', '"Wagon', ' Sedan"']
['Jean', 'Gill', '47', 'Female', 'Kia', '911', '2000', 'Coupe']
['Liam', 'Nicholls', '73', 'Male', 'Chrysler', 'Mark VIII', '2005', 'SUV']
['Ryan', 'Walker', '63', 'Male', 'BMW', 'Wrangler', '2008', '"Sedan', ' Coupe"']
['Rachel', 'Price', '26', 'Female', 'Nissan', 'Terraza', '2002', 'SUV']
['Mohammad', 'Green', '27', 'Male', 'Nissan', 'SQ5', '2003', 'Pickup']
['Alexandra', 'James', '83', 'Female', 'Mitsubishi', 'Sephia', '2009', 'Sedan']
['Wendy', 'Bailey', '80', 'Female', 'Daewoo', 'Cavalier', '2014', 'SUV']
['Callum', 'Burton', '26', 'Male', 'Mercedes-Benz', 'X3', '2019', 'Convertible']
['Samuel', 'Hawkins', '74', 'Male', 'Oldsmobile', 'GLA', '2016', 'Hatchback']
['Francis', 'Holmes', '42', 'Male', 'Oldsmobile', 'LeBaron', '1992', 'Sedan']
['Dawn', 'Banks', '46', 'Female', 'Mercury', 'EX', '2019', 'Pickup']
['Ann', 'Richards', '81', 'Female', 'Scion', 'Verano', '2011', 'Van/Minivan']
['Josh', 'Gill', '30', 'Male', 'Hyundai', 'Yukon XL 1500', '2017', 'Sedan']
['Mandy', 'Stewart', '44', 'Female', 'Mercedes-Benz', 'Viper', '2012', 'Pickup']
['Holly', 'Smith', '61', 'Female', 'MAZDA', 'Grand Marquis', '2019', 'Coupe']
['Lawrence', 'Brown', '69', 'Male', 'Chevrolet', 'Altima', '1994', 'Van/Minivan']
['Catherine', 'Ashton', '87', 'Female', 'Nissan', 'E350 Super Duty Passenger', '2007', 'Van/Minivan']
['David', 'Parkinson', '57', 'Male', 'Mercedes-Benz', 'Scoupe', '2006', 'Van/Minivan']
['Daniel', 'Barker', '45', 'Male', 'Ford', '200', '2008', 'Pickup']
['Gerald', 'Taylor', '37', 'Male', 'Honda', '5 Series', '2009', 'Pickup']
['Sandra', 'Chapman', '59', 'Female', 'Lincoln', '90', '2000', 'Pickup']
['Chelsea', 'Stephens', '50', 'Female', 'MAZDA', 'Vigor', '2004', 'Coupe']
['Emma', 'Watkins', '37', 'Female', 'GMC', 'Caravan Passenger', '2014', 'Sedan']
['Alan', 'Hughes', '75', 'Male', 'GMC', 'Range Rover', '1992', 'Pickup']
['Gail', 'Green', '33', 'Female', 'Lincoln', 'Leganza', '2009', '"Sedan', ' Wagon"']
['Abdul', 'Fisher', '38', 'Male', 'Toyota', 'Sportage', '2000', 'Coupe']
['Abigail', 'Ellis', '76', 'Female', 'Nissan', 'Rally Wagon G3500', '2006', 'Sedan']
['Megan', 'Wright', '18', 'Female', 'Hyundai', 'Ram 1500 Regular Cab', '2009', '"Hatchback', ' Sedan"']
['Gemma', 'Smith', '76', 'Female', 'INFINITI', 'XC70', '2010', 'Pickup']
['Dorothy', 'Howard', '40', 'Female', 'Subaru', 'Tundra Access Cab', '2008', 'Van/Minivan']
['Clive', 'Smith', '62', 'Male', 'MAZDA', 'iQ', '2002', 'Sedan']
['Ryan', 'Wilkinson', '65', 'Male', 'Toyota', 'DBS', '2014', 'SUV']
['Andrew', 'Wilson', '22', 'Male', 'BMW', 'Envoy', '2019', 'SUV']
['Ross', 'Foster', '71', 'Male', 'GMC', '88', '1992', 'Van/Minivan']
['Tony', 'Gough', '69', 'Male', 'Ford', 'Spacecab', '2014', 'SUV']
['Paige', 'Stewart', '38', 'Female', 'INFINITI', 'GR Supra', '2001', 'Pickup']
['Irene', 'Bates', '52', 'Female', 'Chrysler', 'F250 Super Duty Super Cab', '2006', 'Sedan']
['Darren', 'Curtis', '81', 'Male', 'Land Rover', 'Sorento', '2004', 'Hatchback']
['Michelle', 'Smith', '71', 'Female', 'Audi', 'Beetle', '2007', 'Sedan']
['Jamie', 'Harris', '22', 'Male', 'Jeep', 'Suburban 1500', '2015', 'SUV']
['Nigel', 'Powell', '20', 'Male', 'GMC', 'Mercedes-AMG E-Class', '2004', 'Sedan']
['Owen', 'Brennan', '55', 'Male', 'Lexus', 'Civic', '2019', '"Hatchback', ' Sedan', ' Convertible"']
['Hannah', 'Sharp', '59', 'Female', 'Toyota', 'Voyager', '2016', '"Wagon', ' Sedan', ' Coupe"']
['Marion', 'Edwards', '49', 'Female', 'Ram', 'S40', '2020', 'Pickup']
['Sophie', 'Wells', '52', 'Female', 'INFINITI', 'CR-V', '2020', '"Coupe', ' Convertible"']
['Terry', 'Edwards', '82', 'Male', 'INFINITI', '570GT', '2019', 'Pickup']
['Marian', 'Turner', '31', 'Female', 'Honda', 'TT', '2005', 'Van/Minivan']
['Rosie', 'Smith', '86', 'Female', 'Lamborghini', 'Avalon', '2001', 'Sedan']
['Peter', 'Barrett', '51', 'Male', 'GMC', 'allroad', '2001', 'Pickup']
['Tom', 'Nash', '83', 'Male', 'Chevrolet', 'Avalanche', '1997', 'Pickup']
['Roger', 'Shaw', '68', 'Male', 'Dodge', 'Ram 1500 Regular Cab', '2020', 'Coupe']
['Steven', 'Gray', '61', 'Male', 'Volkswagen', '88', '1998', 'Van/Minivan']
['Alexander', 'Miah', '44', 'Male', 'Lincoln', 'A4', '2006', 'SUV']
['Conor', 'Baker', '53', 'Male', 'INFINITI', 'Explorer', '1998', 'Coupe']
['Lawrence', 'Murphy', '20', 'Male', 'Acura', 'MDX', '2002', 'Sedan']
['Kevin', "O'Neill", '36', 'Male', 'Nissan', 'Encore', '2000', 'Coupe']
['Stacey', 'McDonald', '57', 'Female', 'GMC', 'Skylark', '2001', 'Van/Minivan']
['Mitchell', 'Moran', '40', 'Male', 'Chevrolet', 'ProMaster Cargo Van', '2018', '"Coupe', ' Sedan"']
['Carolyn', 'Williams', '57', 'Female', 'Chevrolet', 'Camry', '1997', 'Sedan']
['Mandy', 'Stewart', '33', 'Female', 'Ford', 'NV2500 HD Cargo', '1993', 'Sedan']
['Chloe', 'Gardiner', '68', 'Female', 'Rolls-Royce', 'Prius v', '2009', 'SUV']
['Karen', 'Burton', '38', 'Female', 'INFINITI', 'E-Class', '2011', 'SUV']
['Jenna', 'Turner', '43', 'Female', 'GMC', 'I', '2005', 'Van/Minivan']
['Roger', 'White', '19', 'Male', 'Honda', 'MX-5 Miata RF', '2018', 'Sedan']
['Charlene', 'North', '60', 'Female', 'Jaguar', 'Sunfire', '2007', '"Sedan', ' Hatchback"']
['Katie', 'Shaw', '91', 'Female', 'Toyota', '500L', '2011', '"Coupe', ' Sedan', ' Wagon"']
['Victoria', 'Smith', '30', 'Female', 'Mercedes-Benz', 'Sierra 2500 Regular Cab', '2004', 'SUV']
['Duncan', 'Miller', '71', 'Male', 'Mitsubishi', 'Accent', '2020', 'Pickup']
['Anna', 'Allen', '48', 'Female', 'Chevrolet', 'Rogue', '2017', 'Van/Minivan']
['Julian', 'Holmes', '42', 'Male', 'Nissan', 'R8', '2016', '"Coupe', ' Convertible"']
['Pamela', 'Cox', '83', 'Female', 'Chevrolet', 'Metro', '2007', 'SUV']
['Debra', 'Parker', '59', 'Female', 'Suzuki', 'Golf', '1999', '"Coupe', ' Convertible"']
['Carl', 'Davey', '60', 'Male', 'Ford', '929', '1993', 'Sedan']
['Sam', 'Jones', '86', 'Male', 'Lexus', 'XL7', '2008', 'Wagon']
['Marian', 'Blake', '59', 'Female', 'Ford', 'Sprinter 3500 Cargo', '2014', 'SUV']
['Victoria', 'Morrison', '49', 'Female', 'Kia', 'Imperial', '2015', 'Convertible']

In [36]:
with open('user_data_23_4.json', 'r') as file:
    json_data = json.load(file)

# Extract relevant information
header = list(json_data[0].keys())
data = [list(entry.values()) for entry in json_data]

# Print the header
print("Header:", header)

# Print the data
print("Data:")
for row in data:
    print(row)

Header: ['firstName', 'lastName', 'age', 'iban', 'credit_card_number', 'credit_card_security_code', 'credit_card_start_date', 'credit_card_end_date', 'address_main', 'address_city', 'address_postcode']
Data:
['Georgia', 'Hughes', 41, 'GB45WXWT19931537966579', '4243015041470', '539', '10/19', '10/25', '65 Moss underpass', 'West Frederick', 'W6 2NR']
['Megan', 'Wright', 18, 'GB57TRAN19424805079222', '4325524255640', '705', '10/17', '10/30', 'Studio 68 Alex mountains', 'Port Duncan', 'S8D 3EQ']
['Malcolm', 'Lowe', 72, 'GB86CEYI66789612628367', '4044359044843530', '453', '09/15', '07/16', 'Studio 2 Gary mountain', 'New Josephstad', 'CR1 4EE']
['Lynn', 'Booth', 39, 'GB63XHFJ81307352217368', '4581602368537', '566', '02/16', '03/24', '5 Williams trail', 'South Dannyburgh', 'L0 8DU']
['Charlie', 'West', 82, 'GB87PDEN60852250097561', '180008293760430', '855', '03/17', '07/18', 'Studio 35b Ellis shoals', 'Nelsonmouth', 'S2 5XQ']
['Katy', 'Green', 78, 'GB83MMRZ64018472597921', '213187531453197', '8990', '12/14', '12/33', '939 Gould well', 'South Scott', 'S3 6HS']
['Lucy', 'White', 48, 'GB78ZQSY56109047159084', '3548042722611238', '7686', '05/19', '08/23', 'Flat 57 Edwards prairie', 'East Danielle', 'W5W 2WE']
['Clive', 'Smith', 62, 'GB24IIHG96202017839457', '4539062292997652244', '871', '01/21', '03/27', '312 Hussain burg', 'Naylormouth', 'WF49 3BU']
['Gail', 'Green', 33, 'GB57TQXT51384105563476', '180003818008886', '856', '05/22', '05/22', 'Flat 56 Dylan trail', 'East Melissa', 'B9 7GW']
['Jenna', 'Watkins', 88, 'GB03QGQN95322217412649', '4268278305981', '079', '06/21', '08/32', 'Studio 8 Dawn harbors', 'Hallfurt', 'L76 8XQ', '17210.92']
['Carl', 'Davey', 60, 'GB47TCUD72706761764564', '4567591150370059', '759', '02/16', '01/30', '35 Bradshaw fields', 'Edwardshaven', 'N4 5RJ']
['Debra', 'Parker', 59, 'GB94CFHH61882226321016', '4635717830383', '086', '06/16', '02/17', 'Studio 54 Lynne village', 'Pricestad', 'HA2 5LZ']
['Amber', 'Allen', 64, 'GB49QMKG40115009249827', '2717401533604450', '129', '01/17', '04/20', 'Studio 2 Hall oval', 'Boylehaven', 'GU56 6LG', {'amount': '19666.33', 'time_period_years': 5}]
['Ian', 'Greenwood', 28, 'GB24DCQD49529518943665', '3593273475263620', '260', '06/18', '02/19', '1 Waters hills', 'Williamshaven', 'L6 4UN']
['Joshua', 'Harris', 74, 'GB28HCAJ50137401910845', '180022765386186', '740', '01/21', '10/21', 'Flat 36e Roy stream', 'Taylorton', 'L9E 6PZ', '13540.56']
['Paige', 'Sullivan', 56, 'GB80SSVZ34430338191620', '4335590312409269', '679', '05/23', '11/29', 'Studio 86h Alexander island', 'Port Dianeburgh', 'KT2A 2UJ']
['Frank', 'Turner', 72, 'GB50IJZP80912271363043', '4195381972581', '252', '02/23', '03/30', '3 Elliott spur', 'Richardland', 'N6 0TZ', '4592.53']
['Sandra', 'Walker', 86, 'GB33BUBK55309306107633', '4757078812002987457', '395', '07/17', '04/32', 'Flat 2 Mohammed loaf', 'Martinville', 'N0 8DY']
['Paige', 'Smith', 60, 'GB79BELG16678705988455', '6557219219890324', '3208', '01/22', '07/22', 'Flat 75N Hall well', 'Begumburgh', 'S01 8LE']
['Terence', 'Sharpe', 65, 'GB40QAVM99116469152591', '341687852271529', '874', '02/17', '06/19', 'Flat 3 Stephen pass', 'Huntfort', 'E8 6RA']
['Hilary', 'Ward', 27, 'GB16XUHW58320014294754', '38703451089069', '953', '08/18', '04/21', '328 Frank common', 'West Wendyton', 'CO93 0RY']
['Tony', 'Clark', 48, 'GB65CPFN58903516158606', '5310497660270069', '423', '10/19', '09/31', 'Flat 60 Stephenson flat', 'South Kennethtown', 'G5D 1SA']
['Abdul', 'Powell', 68, 'GB29JUEK24330723845643', '3544656640919789', '941', '04/17', '10/32', 'Flat 0 Gerald course', 'Evansmouth', 'PL0 0BB']
['Sandra', 'Chapman', 59, 'GB43MGOP88443854673740', '6504844472832988', '215', '02/22', '10/31', 'Flat 62C Alexandra village', 'Robertchester', 'HS94 6JT', '13631.25']
['Jennifer', 'Chamberlain', 25, 'GB88OTJU45073025981646', '3510112836961300', '143', '11/18', '09/28', 'Flat 67c Morris ville', 'West Howardmouth', 'LL67 3JH']
['Gavin', 'Whitehead', 62, 'GB80BSOE54501346756482', '6535366180819126', '136', '10/19', '05/30', 'Studio 7 Derek mountains', 'New Justin', 'BN8 1UY']
['Shane', 'Phillips', 84, 'GB88UJBR15321582739040', '30064220333348', '674', '06/23', '04/24', '513 Adam island', 'New Lyndaberg', 'OL3 9SH']
['Beverley', 'Collier', 58, 'GB66EAWZ55559831954112', '4144659950614', '810', '03/17', '04/25', '526 Amy prairie', 'Nicholasberg', 'S5B 9GS']
['Carolyn', 'Williams', 57, 'GB90RSVV93328311534897', '3505288500314203', '356', '03/21', '06/28', 'Flat 5 Simon pass', 'South Sammouth', 'N4 6PN']
['Marc', 'Jones', 62, 'GB33KCDO68384395128150', '213103391130270', '382', '08/22', '10/25', 'Studio 2 Mary crescent', 'North Jacquelineton', 'E04 4DR']
['Marc', 'Brown', 71, 'GB12FPYV64082851238776', '060496460308', '498', '04/23', '10/27', 'Studio 64g Melanie islands', 'Lake Suzanneborough', 'WD7 5RZ']
['Ronald', 'Bennett', 27, 'GB87FPEU91367975795176', '4603830069176344271', '119', '05/22', '04/26', 'Flat 4 Oliver loop', 'North Jackchester', 'TD42 2EE']
['Trevor', 'Howe', 77, 'GB81JAIQ20307282583039', '4459821320516', '899', '10/16', '12/21', 'Studio 7 Power creek', 'New Julian', 'B4 4AA']
['Barbara', 'Kemp', 64, 'GB03CUMO36383184084490', '6518303437790496', '157', '06/20', '08/30', 'Flat 20H Rebecca trail', 'Lake Lauratown', 'WD48 9PT']
['Dawn', 'Banks', 46, 'GB43NFXY43530918931118', '3509808907091181', '686', '04/16', '09/21', '2 Tracy spur', 'Lake Harry', 'SG05 6GJ']
['Dominic', 'Hayes', 48, 'GB07DEES40439892276875', '4028001887313706380', '273', '12/20', '09/28', 'Flat 63a Declan shoal', 'Lake Connor', 'RH13 7ZB', '11380.78']
['Marion', 'Hughes', 78, 'GB22BAMY13430819821665', '3549869430484436', '285', '01/16', '11/21', 'Studio 51c Mary pass', 'Russellton', 'SL14 7GJ']
['Anna', 'Pope', 71, 'GB90ZVRM94526206666333', '5576504562665145', '342', '03/20', '01/28', 'Studio 11i Dale mount', 'South Hayleymouth', 'LA2W 7XE']
['Andrew', 'Wilson', 22, 'GB02ZDIS06129711481186', '6537892238032550', '979', '11/16', '06/17', '531 Owen roads', 'Begumchester', 'L2H 0UF', '18649.47']
['Fiona', 'Marshall', 86, 'GB49BDWW43070364283733', '4424742584764', '296', '01/19', '05/29', 'Flat 03k Zoe mountains', 'Mosstown', 'B3 9ZN']
['Jack', 'Harris', 50, 'GB14QCSF99108175417728', '2268216970955832', '407', '10/20', '10/26', '16 Charlene rapid', 'Arthurmouth', 'HR7X 8ZU']
['Rhys', 'Baldwin', 73, 'GB80GKJD81784842220086', '30305412851443', '057', '02/21', '03/27', '683 Nicole turnpike', 'East Kimbury', 'BT6 0QH']
['Mary', 'Clayton', 28, 'GB37EXWU19549246738181', '5215516154817766', '361', '01/19', '06/25', 'Flat 4 Brown shores', 'West Keithchester', 'CO7 6AF']
['Benjamin', 'Watson', 76, 'GB02YPTO15051381778341', '2535694049616329', '117', '12/17', '07/27', '9 McKenzie underpass', 'North Hayley', 'SE59 0HR', '389.48']
['Ricky', 'Brown', 29, 'GB19NRYN29472148165176', '5339659866012697', '844', '05/21', '05/29', '946 Ellie burgs', 'Port Howard', 'S4U 7JG']
['Ronald', 'Carter', 54, 'GB20ZRBQ16511995881435', '4146395599082014', '063', '10/22', '04/26', '7 Clive course', 'Amyville', 'TW07 0DR']
['Abigail', 'Ahmed', 74, 'GB68DBYO31812345719194', '3510692574530011', '909', '08/20', '01/29', '24 Oliver club', 'East Russellstad', 'G9B 8LA']
['Raymond', 'Hall', 32, 'GB62NZPG02793587770501', '347669572576746', '941', '02/22', '02/24', '55 Thomas hollow', 'Juliaburgh', 'AB1 5TF']
['Maureen', 'Quinn', 88, 'GB69WTBX49130959080415', '4425348272629200065', '941', '03/20', '02/24', '231 McDonald common', 'Jonesland', 'L51 3UY']
['Mathew', 'Coates', 50, 'GB17EMTG82275537508867', '3582577319082340', '136', '09/16', '12/28', 'Studio 18 Smith forges', 'Bellville', 'WR7 7XG']
['Sally', 'Atkinson', 84, 'GB23AVAZ50313272627046', '38460175181348', '685', '02/23', '07/27', '69 Khan court', 'Reeceside', 'DE51 6EY']
['Katie', 'Shaw', 91, 'GB73WGUB68350513539545', '213138295680590', '325', '07/15', '10/24', '47 Alexander club', 'New Annetteborough', 'HD7 3EB']
['Janice', 'Newman', 25, 'GB88ILNW94986199451298', '2274667022662168', '345', '01/15', '07/18', 'Studio 56I Kyle plains', 'North Rogerport', 'B88 2ZF', '2658.11']
['Rosie', 'Benson', 81, 'GB90LBEL01032983658821', '4798342178561126', '303', '06/20', '01/30', 'Flat 28 Frank villages', 'Ameliamouth', 'W7J 3JQ', '5534.53']
['Abbie', 'Bull', 71, 'GB75KFPE98217621587485', '180035917137307', '222', '06/17', '04/19', 'Flat 74 Aimee ridges', 'Hicksburgh', 'B7 2WA']
['Jade', 'Collier', 35, 'GB02YKNC94276610870166', '3537822815438505', '864', '01/20', '07/27', 'Flat 42X Joyce pike', 'Port Mohammad', 'TD9P 0UQ']
['Ryan', 'Walker', 63, 'GB03VSDD57368414694301', '4005538846028575', '428', '07/20', '11/31', '448 Alexandra land', 'Port Marionstad', 'AL2B 9JL']
['Jack', 'Powell', 61, 'GB66QWFO51688856470038', '4336300741478585235', '489', '07/17', '02/21', '32 Woodward port', 'New Lukemouth', 'E5E 3DN']
['Glen', 'Perry', 82, 'GB27ZTTD60151671236206', '676153208050', '409', '03/19', '08/19', '83 Kirsty hill', 'Angelafurt', 'W2 8EU', '12933.17']
['Nathan', 'Jones', 27, 'GB10GSYD38268394780144', '180075648916264', '391', '11/22', '07/26', 'Flat 0 Davis vista', 'Roytown', 'S97 1LN']
['Stephanie', 'Bray', 51, 'GB76YJKC16198941308392', '6552352388183695', '953', '05/18', '01/27', 'Studio 23 Iain vista', 'Port Matthew', 'E9 0DU']
['Lawrence', 'Baker', 64, 'GB19BWYH77195385841373', '4209732898368237', '234', '10/20', '07/21', '22 Jacob gateway', 'Brownberg', 'N7 1YX']
['Jack', 'Williams', 47, 'GB82JTIN41199218549561', '340549634433432', '271', '01/15', '04/20', 'Flat 2 Woodward branch', 'Paynemouth', 'M7 3AU']
['Mark', 'Young', 59, 'GB83ZTNO82776331787618', '2240508979441092', '844', '06/20', '04/28', 'Studio 2 Carol tunnel', 'Manntown', 'E5U 6EN']
['Tom', 'Cooke', 69, 'GB76CPZH28462200647918', '4508482106453342', '995', '12/19', '10/22', 'Flat 85 Francesca club', 'Donaldton', 'G28 1EQ']
['Mandy', 'Stewart', 33, 'GB78VSFH29991652725092', '3502884630951055', '902', '08/15', '06/16', 'Flat 48o David key', 'Port Paulaton', 'W7 3DU']
['Sam', 'Long', 83, 'GB16OLBW26880983186148', '2245031471396677', '006', '05/19', '02/26', '4 Vincent drive', 'Stewartton', 'NP5 2SJ']
['Rosemary', 'Smith', 84, 'GB29JJIZ46250863443100', '3546704545275044', '677', '01/23', '04/29', 'Flat 34 Jones gardens', 'Rickyfort', 'WA7 3XR', '6219.26']
['Gerald', 'Young', 88, 'GB44SBJD29974541079814', '3599424074394035', '593', '02/18', '11/28', '46 Trevor well', 'Clarkhaven', 'B9 1RX']
['Sally', 'Brown', 52, 'GB13TINC88558236215892', '341057147038341', '065', '05/18', '10/22', '1 Ellis courts', 'Johnsonside', 'DY9A 2GD']
['Natasha', 'Graham', 56, 'GB30GDGF44106231868756', '4831235716080907', '522', '02/18', '09/25', '177 Marcus isle', 'Foxstad', 'E34 4RQ']
['Callum', 'Quinn', 65, 'GB85FIDR03135416537190', '4156297473767974', '650', '06/18', '12/28', '371 Parry knoll', 'Kateshire', 'SO5X 9ZE']
['Jeremy', 'Reid', 20, 'GB08GNJJ91339958747850', '2226421221149513', '674', '06/20', '01/23', '70 Nicole union', 'Myersshire', 'NE9 4SG']
['Abigail', 'Smith', 35, 'GB13JZAW30721421947716', '4648009800132004', '722', '11/14', '05/26', 'Flat 60W Reed ridge', 'East Bruce', 'KT93 9YP']
['Rachael', 'Singh', 25, 'GB25MKOQ46193572607479', '4227212444583121966', '440', '10/20', '02/25', '55 Davies dam', 'North Suzanne', 'M4H 1RF']
['Kayleigh', 'Yates', 22, 'GB45DXJP40135064994189', '3544124017106258', '958', '01/21', '01/32', '232 Linda ranch', 'Dickinsonchester', 'N38 0YG', '8058.76']
['Craig', 'Richardson', 60, 'GB28JHXG66737205850690', '30183909165936', '849', '01/23', '08/31', '53 Baker point', 'Daymouth', 'N6J 5WJ']
['David', 'Pollard', 61, 'GB73BFCP34064642570725', '4957846361867139', '652', '04/16', '07/22', 'Flat 20 Abbie dale', 'Cherylton', 'L1S 9TE']
['Jake', 'Baldwin', 39, 'GB19SDRI80483874982601', '6011966406045365', '795', '06/20', '08/32', '243 Humphreys manor', 'Parryton', 'N9F 9WA']
['Frances', 'Fitzgerald', 60, 'GB95CFME66634060944126', '4270739101582416870', '299', '06/23', '07/25', '1 Craig fork', 'Nicoleport', 'W2T 3AN']
['Elliot', 'Stevens', 44, 'GB86HKDN10435089935076', '4020094097561931', '217', '10/17', '12/31', 'Studio 26r Porter views', 'Mohammadborough', 'S9C 7RS']
['Richard', 'Collins', 91, 'GB76TAPE38850944625681', '213120380998368', '912', '07/18', '06/28', 'Flat 48w Thomas prairie', 'East Juneville', 'E9A 9SN']
['Denise', 'Campbell', 50, 'GB92SQXQ31325865469807', '4787016615720882', '492', '06/16', '01/17', 'Studio 5 Joe mission', 'East Josephineport', 'S7B 9NH']
['Brenda', 'Riley', 65, 'GB12LSDF07681473568143', '30429577436061', '340', '06/18', '10/22', 'Studio 70j Watson islands', 'Lake Ashleightown', 'B50 5EX']
['Albert', 'Cooke', 52, 'GB95COSI95084950544857', '3523271197455511', '841', '08/20', '11/30', '0 Daniel curve', 'Port Andrew', 'S7 9EU']
['Thomas', 'Harris', 79, 'GB29TWFU94932315225135', '4831498784974957716', '237', '06/23', '01/29', '650 Gerald light', 'Port Frank', 'DD02 7PF']
['Lee', 'Ford', 55, 'GB98RXDH69536968905211', '30075811728720', '517', '12/16', '07/19', 'Flat 52 Olivia street', 'Smithland', 'B4F 8SA']
['Keith', 'Patel', 22, 'GB87SLCV17525295029231', '180096333749356', '675', '12/20', '02/31', 'Studio 44 Terry stream', 'New Katherine', 'B11 8PH']
['Philip', 'Greenwood', 29, 'GB18TQBD13416033892932', '4223199928196394164', '540', '07/19', '03/27', '2 Reeves bridge', 'Nathanport', 'S7E 9XY']
['Melissa', 'Chapman', 82, 'GB13YHDK20901679611040', '4991413513191245', '929', '10/15', '11/28', 'Studio 40j Richards course', 'West Conorborough', 'L6 2DP']
['Frederick', 'Stevens', 73, 'GB57BBZZ28819520816124', '4989828486409118412', '413', '09/21', '06/28', '436 Russell knoll', 'Finchville', 'KA1V 2GU', {'amount': '13738.75', 'time_period_years': 1}]
['Sean', 'Perry', 87, 'GB24TVGV89818186516727', '3571761306387507', '5454', '01/23', '02/25', '54 Victor walks', 'Lake Roy', 'EX27 3XW']
['Conor', 'Johnson', 52, 'GB51HYDK41614359626656', '4614362185427', '887', '08/18', '08/32', '796 Leslie pines', 'Ruthmouth', 'CB3M 2DD']
['Maurice', 'Pearson', 21, 'GB43MIMC28175166679164', '4253108537218858', '199', '03/18', '12/20', '85 Thomas forest', 'East Lynda', 'AB1 0SF']
['Joan', 'Clarke', 83, 'GB86YOJQ80595094031570', '213118805752212', '586', '04/21', '09/23', 'Flat 84R Turner extensions', 'Keithview', 'BR5 4NN']
['Leonard', 'Lewis', 44, 'GB97IAOX65027063991509', '213159827272987', '109', '03/18', '03/23', 'Studio 2 Lydia viaduct', 'Kieranburgh', 'DD2E 1QL']
['Angela', 'Wall', 53, 'GB03ALFG44675819218872', '371648444076027', '007', '07/21', '10/24', 'Flat 68F Gordon views', 'Joeside', 'S12 4TF']
['Joyce', 'Mellor', 30, 'GB67ZWAX65788925167092', '3553842891734733', '785', '03/18', '05/24', '87 Newman parkways', 'New Donald', 'OX0B 6JP']
['Rhys', 'Grant', 67, 'GB31PTRZ62058593241378', '180063446034910', '156', '12/15', '04/23', '233 Leon tunnel', 'New Elaine', 'M4A 8ZT']
['Lynn', 'Wilkinson', 78, 'GB48BMFO07957049068247', '4805949971856437', '186', '12/22', '04/25', 'Studio 13 Kaur union', 'Allenton', 'CM76 5ZY']
['Nicole', 'Smith', 88, 'GB58FXWN14093248799488', '501828144276', '938', '06/21', '04/24', '0 Moran stream', 'Lake Sandra', 'W53 5ND']
['Lawrence', 'Murphy', 20, 'GB87XPUW88493778925481', '213188322856697', '267', '02/22', '09/22', '0 Gregory corners', 'South Jodie', 'EH2N 9FB']
['Kenneth', 'Henderson', 19, 'GB94EGNP96235782067783', '4746729624762212', '555', '09/18', '01/19', 'Flat 21 Sara burg', 'Gordonberg', 'LN1 5ZA']
['Victor', 'Taylor', 44, 'GB72REXW16483528051577', '6505335180976869', '816', '06/22', '12/26', 'Studio 4 Young flat', 'South Neil', 'CW5W 6WP']
['Luke', 'Smith', 59, 'GB26DPPO91212667809739', '180057106656632', '335', '01/23', '01/31', '8 Hall haven', 'Jodieland', 'SO5V 4EB']
['Natalie', 'Jones', 57, 'GB51AENF81326327838911', '2714160677407707', '626', '05/18', '05/19', 'Flat 18 Gareth expressway', 'Sianport', 'L4H 7WJ']
['Lisa', 'Shah', 26, 'GB34KFVU33633691502730', '4936733356342777035', '773', '11/22', '02/27', 'Studio 3 Middleton lane', 'Pagestad', 'PR5 8GN', {'amount': '2308.05', 'time_period_years': 1}]
['Alan', 'Brown', 34, 'GB80SYDY78555896937718', '370054558221494', '967', '12/17', '06/19', 'Flat 51F James brook', 'Carpentertown', 'M81 9UH']
['Ian', 'Hopkins', 90, 'GB10VXHC34794815749593', '503843203921', '019', '01/18', '10/18', '37 Glen extensions', 'Harrisonchester', 'E2F 7GB']
['Abigail', 'Wood', 57, 'GB93TSPY94563557020484', '4830825544004244030', '442', '12/15', '03/19', '3 Ronald forest', 'East Jayne', 'NR7B 4JE']
['Yvonne', 'Thompson', 42, 'GB77QION83816918646479', '2270611026277700', '207', '09/21', '01/29', 'Flat 69 Stevenson oval', 'Boothton', 'W23 4AG']
['Gareth', 'Knight', 70, 'GB40YZSP90206509845392', '3501899600641917', '643', '06/21', '09/26', 'Studio 31 Todd grove', 'New Marcus', 'HP8W 3JA', {'amount': '867.72', 'time_period_years': 0}]
['Lawrence', 'Wells', 32, 'GB79HQIB26126436022852', '4914756920883323', '367', '09/23', '01/27', '01 Butler rapid', 'Lake Lynnview', 'LN3 5DD']
['Tracy', 'Hill', 26, 'GB41SUNL56146644600688', '3506003639000345', '112', '04/23', '09/27', '24 Jackson dale', 'Farmerfort', 'HD32 4UL']
['Marc', 'Davies', 31, 'GB04GSGY52138797069456', '2720997690327962', '399', '08/20', '04/25', '008 Patel key', 'Smithfort', 'W0 9NR']
['Joe', 'Benson', 60, 'GB21CKBJ20351247309872', '4019922591137308', '067', '11/20', '01/27', 'Flat 13 Turner harbors', 'Lake Marilynhaven', 'N42 2DE']
['Damien', 'Sharp', 47, 'GB74LMDO85694046102754', '3519159651252084', '480', '08/21', '08/22', 'Studio 09 Brown fields', 'Port Denisstad', 'CF0 3GR']
['Bradley', 'Norton', 46, 'GB35DPGO03179760218730', '3579699108758230', '318', '08/18', '08/31', '8 Dale highway', 'North Dale', 'RM5W 1WD']
['Thomas', 'Yates', 34, 'GB56DBSI18500453538516', '6544992218046017', '753', '04/16', '08/28', '07 Guy garden', 'South Karl', 'PH9 2BQ']
['Marc', 'Howard', 23, 'GB18SRAQ04564359785785', '370525722711254', '737', '07/15', '06/16', 'Studio 0 Kenneth trail', 'Janiceland', 'KW39 5YD']
['Sophie', 'Potter', 79, 'GB61FCBF84951361890205', '30506398454389', '156', '05/19', '03/22', 'Studio 03F Janet spurs', 'Roseville', 'S89 9RT']
['James', 'Parker', 31, 'GB38KEKZ76378998068484', '4469424985091329', '226', '08/20', '04/29', 'Flat 57j Wright cove', 'Turnerchester', 'HX25 5FX', '17983.44']
['John', 'Smith', 40, 'GB22GGCI78331441278686', '4511975195597', '7907', '04/23', '09/32', 'Flat 03 Hugh square', 'Allentown', 'L3 5QT']
['Fiona', 'Hill', 69, 'GB67ORME33431279884603', '4978607081606636', '999', '01/22', '12/25', '41 Lynne tunnel', 'Smithtown', 'CB8 7WD']
['Stacey', "O'Donnell", 29, 'GB74XZDF32126074665119', '676151844948', '199', '03/16', '08/19', '47 Hayward crossing', 'New Johnborough', 'TS63 6UJ']
['Jennifer', 'Evans', 69, 'GB48MRDR88915351896402', '30273427088650', '199', '11/14', '02/30', '464 Fitzgerald glen', 'Abbieview', 'FY3P 2PX']
['Bradley', 'Butler', 61, 'GB64PRTX05281459532188', '3584867157614777', '208', '03/23', '10/27', '871 Ward spur', 'Frederickview', 'EC1B 8YJ']
['Jenna', 'Howarth', 22, 'GB20SVVW87852926619013', '30403540595089', '5915', '09/15', '12/24', '5 Clarke isle', 'New Kimport', 'N8A 8UB']
['Christian', 'Martin', 72, 'GB80CPBB41602938547880', '38948196445791', '066', '11/21', '03/35', 'Flat 59R Jason canyon', 'Karenfurt', 'G1 3BY', '5983.33']
['Derek', "O'Neill", 34, 'GB91UOZG58008898198082', '2296176933064039', '152', '06/23', '08/34', 'Flat 70D Denis ridge', 'North Abdulstad', 'EX5V 7JN']
['Joanne', 'Howell', 60, 'GB25MFWE80507515436595', '4614914549226878', '215', '11/20', '06/21', 'Flat 40H Moss harbors', 'Turnerview', 'N5 3QG']
['Stacey', 'Barnes', 25, 'GB41QMIV20853492322262', '4657098215010093', '954', '03/17', '11/25', '031 Jones locks', 'Port Marcus', 'WA85 2GR', '12514.92']
['Daniel', 'Chan', 51, 'GB39ZIRF42528696343995', '4973681662651407', '450', '12/18', '06/31', '1 Baker flat', 'Port Bethanybury', 'G3C 0ZP']
['Amelia', 'Stone', 19, 'GB03FMTY85897040087672', '4993629368662686777', '013', '07/17', '08/25', '906 Toby pine', 'Michaelview', 'BL83 0LG']

In [37]:
import xml.etree.ElementTree as ET

# Load the XML file
tree = ET.parse('user_data_23_4.xml')
root = tree.getroot()

# Access elements and attributes
for child in root:
    print(f"Element: {child.tag}, Attribute: {child.attrib}")
    for subchild in child:
        print(f"   Subelement: {subchild.tag}, Text: {subchild.text}")

Element: user, Attribute: {'firstName': 'Hilary', 'lastName': 'Hughes', 'age': '77', 'sex': 'Female', 'retired': 'True', 'dependants': '4', 'marital_status': 'single', 'salary': '97933', 'pension': '18966', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'EX0 1BR'}
Element: user, Attribute: {'firstName': 'Roy', 'lastName': 'Watson', 'age': '51', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '34521', 'pension': '0', 'company': 'West Ltd', 'commute_distance': '9.97', 'address_postcode': 'W6 0LD'}
Element: user, Attribute: {'firstName': 'Peter', 'lastName': 'Ford', 'age': '46', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '31646', 'pension': '0', 'company': 'Smith, Heath and Ahmed', 'commute_distance': '9.33', 'address_postcode': 'SN51 3JU'}
Element: user, Attribute: {'firstName': 'Holly', 'lastName': 'Clarke', 'age': '78', 'sex': 'Female', 'retired': 'True', 'dependants': '2', 'marital_status': 'divorced', 'salary': '57415', 'pension': '9827', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'B0 9TJ'}
Element: user, Attribute: {'firstName': 'Glenn', 'lastName': 'Rogers', 'age': '87', 'sex': 'Male', 'retired': 'True', 'dependants': '2', 'marital_status': 'single', 'salary': '28852', 'pension': '27246', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'S68 4EZ'}
Element: user, Attribute: {'firstName': 'Paige', 'lastName': 'Lees', 'age': '72', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'divorced', 'salary': '26210', 'pension': '0', 'company': 'Roberts-Whitehouse', 'commute_distance': '8.04', 'address_postcode': 'E8 2YF'}
Element: user, Attribute: {'firstName': 'Sean', 'lastName': 'Young', 'age': '40', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'divorced', 'salary': '86320', 'pension': '0', 'company': 'Smith, Hudson and Arnold', 'commute_distance': '18.67', 'address_postcode': 'S29 4PH'}
Element: user, Attribute: {'firstName': 'Dominic', 'lastName': 'Thomas', 'age': '73', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '78499', 'pension': '0', 'company': 'Rose PLC', 'commute_distance': '17.57', 'address_postcode': 'L54 4HJ'}
Element: user, Attribute: {'firstName': 'Tracy', 'lastName': 'Wilson', 'age': '71', 'sex': 'Female', 'retired': 'False', 'dependants': '4', 'marital_status': 'single', 'salary': '49084', 'pension': '0', 'company': 'Alexander Inc', 'commute_distance': '12.85', 'address_postcode': 'KT65 2YU'}
Element: user, Attribute: {'firstName': 'Ann', 'lastName': 'Murray', 'age': '30', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '51786', 'pension': '0', 'company': 'Powell Group', 'commute_distance': '13.33', 'address_postcode': 'EH4Y 8WE'}
Element: user, Attribute: {'firstName': 'Michelle', 'lastName': 'Brown', 'age': '34', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '46715', 'pension': '0', 'company': 'Griffiths-Thompson', 'commute_distance': '12.41', 'address_postcode': 'PA80 4DX'}
Element: user, Attribute: {'firstName': 'Matthew', 'lastName': 'Taylor', 'age': '55', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '35977', 'pension': '0', 'company': 'Wright Inc', 'commute_distance': '10.28', 'address_postcode': 'E1K 0BD'}
Element: user, Attribute: {'firstName': 'Victoria', 'lastName': 'Smith', 'age': '30', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '92982', 'pension': '0', 'company': 'Hardy-Webster', 'commute_distance': '19.57', 'address_postcode': 'LA0V 5ED'}
Element: user, Attribute: {'firstName': 'Andrea', 'lastName': 'McCarthy', 'age': '66', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'single', 'salary': '45640', 'pension': '0', 'company': 'Hargreaves LLC', 'commute_distance': '12.21', 'address_postcode': 'S0 9NT'}
Element: user, Attribute: {'firstName': 'Harry', 'lastName': 'Hughes', 'age': '20', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '34387', 'pension': '0', 'company': 'Fletcher PLC', 'commute_distance': '9.94', 'address_postcode': 'TQ1 4DZ'}
Element: user, Attribute: {'firstName': 'Abigail', 'lastName': 'Ellis', 'age': '76', 'sex': 'Female', 'retired': 'True', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '81536', 'pension': '19862', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'CH4 4XB'}
Element: user, Attribute: {'firstName': 'Marc', 'lastName': 'Brown', 'age': '71', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '58060', 'pension': '0', 'company': 'Field, Bishop and Harper', 'commute_distance': '14.41', 'address_postcode': 'WD7 5RZ'}
Element: user, Attribute: {'firstName': 'Ann', 'lastName': 'Richards', 'age': '81', 'sex': 'Female', 'retired': 'True', 'dependants': '2', 'marital_status': 'single', 'salary': '39373', 'pension': '26557', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'CW7 4AB'}
Element: user, Attribute: {'firstName': 'Donald', 'lastName': 'Price', 'age': '21', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '97157', 'pension': '0', 'company': 'Morgan LLC', 'commute_distance': '20.11', 'address_postcode': 'DG83 8AD'}
Element: user, Attribute: {'firstName': 'Amy', 'lastName': 'Johnson', 'age': '74', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '36942', 'pension': '0', 'company': 'Begum-Perkins', 'commute_distance': '10.49', 'address_postcode': 'N5 1SD'}
Element: user, Attribute: {'firstName': 'Rebecca', 'lastName': 'Metcalfe', 'age': '36', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '58385', 'pension': '0', 'company': 'Begum, Wood and Morley', 'commute_distance': '14.47', 'address_postcode': 'BT8P 8PP'}
Element: user, Attribute: {'firstName': 'Gary', 'lastName': 'Jackson', 'age': '86', 'sex': 'Male', 'retired': 'True', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '22248', 'pension': '18916', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'N45 4WS'}
Element: user, Attribute: {'firstName': 'Denise', 'lastName': 'Campbell', 'age': '50', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '91238', 'pension': '0', 'company': 'Morton-Burns', 'commute_distance': '19.34', 'address_postcode': 'S7B 9NH'}
Element: user, Attribute: {'firstName': 'Lynda', 'lastName': 'Howe', 'age': '55', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '86447', 'pension': '0', 'company': 'Davison PLC', 'commute_distance': '18.69', 'address_postcode': 'WV0W 4GD'}
Element: user, Attribute: {'firstName': 'Cameron', 'lastName': 'Hawkins', 'age': '42', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '90943', 'pension': '0', 'company': 'Hayward Group', 'commute_distance': '19.3', 'address_postcode': 'NN39 9BZ'}
Element: user, Attribute: {'firstName': 'Antony', 'lastName': 'Lewis', 'age': '22', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '64310', 'pension': '0', 'company': 'Joyce and Sons', 'commute_distance': '15.43', 'address_postcode': 'WS01 6LA'}
Element: user, Attribute: {'firstName': 'Julian', 'lastName': 'Holmes', 'age': '42', 'sex': 'Male', 'retired': 'False', 'dependants': '4', 'marital_status': 'married or civil partner', 'salary': '56727', 'pension': '0', 'company': 'Davison-Wilson', 'commute_distance': '14.19', 'address_postcode': 'B5K 6BB'}
Element: user, Attribute: {'firstName': 'Mark', 'lastName': 'Schofield', 'age': '18', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '40717', 'pension': '0', 'company': 'Wilson, Davies and Short', 'commute_distance': '11.26', 'address_postcode': 'W9S 4TH'}
Element: user, Attribute: {'firstName': 'Fiona', 'lastName': 'Hill', 'age': '69', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'single', 'salary': '30397', 'pension': '0', 'company': 'Taylor-Williamson', 'commute_distance': '9.05', 'address_postcode': 'CB8 7WD'}
Element: user, Attribute: {'firstName': 'Stanley', 'lastName': 'Woods', 'age': '53', 'sex': 'Male', 'retired': 'False', 'dependants': '3', 'marital_status': 'single', 'salary': '32335', 'pension': '0', 'company': 'Howell LLC', 'commute_distance': '9.49', 'address_postcode': 'OX3 4DJ'}
Element: user, Attribute: {'firstName': 'Diana', 'lastName': 'King', 'age': '84', 'sex': 'Female', 'retired': 'True', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '94127', 'pension': '35908', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'E73 7QS'}
Element: user, Attribute: {'firstName': 'Sophie', 'lastName': 'Potter', 'age': '79', 'sex': 'Female', 'retired': 'True', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '21784', 'pension': '25288', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'S89 9RT'}
Element: user, Attribute: {'firstName': 'Ben', 'lastName': 'Booth', 'age': '58', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'divorced', 'salary': '45281', 'pension': '0', 'company': 'Russell-Smith', 'commute_distance': '12.14', 'address_postcode': 'G36 1PB'}
Element: user, Attribute: {'firstName': 'Stephanie', 'lastName': 'Knight', 'age': '86', 'sex': 'Female', 'retired': 'True', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '86574', 'pension': '34501', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'NG9R 5DH'}
Element: user, Attribute: {'firstName': 'Jean', 'lastName': 'Smith', 'age': '81', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'single', 'salary': '55698', 'pension': '0', 'company': 'Roberts, Lee and Ward', 'commute_distance': '14.01', 'address_postcode': 'B44 0QR'}
Element: user, Attribute: {'firstName': 'Melanie', 'lastName': 'Freeman', 'age': '84', 'sex': 'Female', 'retired': 'True', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '30358', 'pension': '18140', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'HP90 9NA'}
Element: user, Attribute: {'firstName': 'Denise', 'lastName': 'Robinson', 'age': '30', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '93818', 'pension': '0', 'company': 'Higgins-Wallis', 'commute_distance': '19.68', 'address_postcode': 'E17 1TN'}
Element: user, Attribute: {'firstName': 'Judith', 'lastName': 'Welch', 'age': '65', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '41582', 'pension': '0', 'company': 'Gibbs Group', 'commute_distance': '11.43', 'address_postcode': 'SE6N 4ZB'}
Element: user, Attribute: {'firstName': 'Laura', 'lastName': 'Walker', 'age': '28', 'sex': 'Female', 'retired': 'False', 'dependants': '5', 'marital_status': 'married or civil partner', 'salary': '30625', 'pension': '0', 'company': 'Hope LLC', 'commute_distance': '9.1', 'address_postcode': 'EC4 4YX'}
Element: user, Attribute: {'firstName': 'Lawrence', 'lastName': 'Evans', 'age': '23', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '79370', 'pension': '0', 'company': 'Hargreaves LLC', 'commute_distance': '17.7', 'address_postcode': 'SM7 9RL'}
Element: user, Attribute: {'firstName': 'Jean', 'lastName': 'Carr', 'age': '30', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'single', 'salary': '98379', 'pension': '0', 'company': 'Armstrong and Sons', 'commute_distance': '20.27', 'address_postcode': 'DL07 6QE'}
Element: user, Attribute: {'firstName': 'Georgia', 'lastName': 'Ellis', 'age': '66', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '76497', 'pension': '0', 'company': 'Hill, Coates and Hodgson', 'commute_distance': '17.28', 'address_postcode': 'FY7 5YG'}
Element: user, Attribute: {'firstName': 'Vincent', 'lastName': 'Baker', 'age': '21', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '55663', 'pension': '0', 'company': 'Davison-Bailey', 'commute_distance': '14.01', 'address_postcode': 'WD67 5GW'}
Element: user, Attribute: {'firstName': 'Frederick', 'lastName': 'Wright', 'age': '70', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '90609', 'pension': '0', 'company': 'Anderson Ltd', 'commute_distance': '19.25', 'address_postcode': 'TR9 4NN'}
Element: user, Attribute: {'firstName': 'Sharon', 'lastName': 'Shaw', 'age': '23', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '73597', 'pension': '0', 'company': 'Ali, Davies and Watts', 'commute_distance': '16.86', 'address_postcode': 'B2 3TZ'}
Element: user, Attribute: {'firstName': 'James', 'lastName': 'Butler', 'age': '81', 'sex': 'Male', 'retired': 'True', 'dependants': '3', 'marital_status': 'widowed', 'salary': '28145', 'pension': '13349', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'IM3 6TF'}
Element: user, Attribute: {'firstName': 'Dawn', 'lastName': 'Duffy', 'age': '81', 'sex': 'Female', 'retired': 'True', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '85209', 'pension': '24248', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'SW95 3DU'}
Element: user, Attribute: {'firstName': 'Jade', 'lastName': 'Thomas', 'age': '60', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'divorced', 'salary': '47495', 'pension': '0', 'company': 'Wheeler PLC', 'commute_distance': '12.56', 'address_postcode': 'CV44 6LS'}
Element: user, Attribute: {'firstName': 'Jenna', 'lastName': 'Ingram', 'age': '21', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '67749', 'pension': '0', 'company': 'Brown LLC', 'commute_distance': '15.97', 'address_postcode': 'S6J 6AD'}
Element: user, Attribute: {'firstName': 'Sheila', 'lastName': 'Watson', 'age': '61', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '53698', 'pension': '0', 'company': 'Green-Morris', 'commute_distance': '13.67', 'address_postcode': 'E6S 4SF'}
Element: user, Attribute: {'firstName': 'Stephanie', 'lastName': 'Scott', 'age': '81', 'sex': 'Female', 'retired': 'True', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '52690', 'pension': '23349', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'S9 2ZD'}
Element: user, Attribute: {'firstName': 'Linda', 'lastName': 'Smith', 'age': '71', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '51977', 'pension': '0', 'company': 'Potter-Jones', 'commute_distance': '13.37', 'address_postcode': 'E6A 6SS'}
Element: user, Attribute: {'firstName': 'Maurice', 'lastName': 'Pearson', 'age': '21', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'divorced', 'salary': '74396', 'pension': '0', 'company': 'Johnson Group', 'commute_distance': '16.97', 'address_postcode': 'AB1 0SF'}
Element: user, Attribute: {'firstName': 'Joyce', 'lastName': 'Gibbs', 'age': '67', 'sex': 'Female', 'retired': 'False', 'dependants': '4', 'marital_status': 'single', 'salary': '49983', 'pension': '0', 'company': 'Hughes-Ahmed', 'commute_distance': '13.01', 'address_postcode': 'M7 6XJ'}
Element: user, Attribute: {'firstName': 'Amber', 'lastName': 'Stewart', 'age': '48', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '71865', 'pension': '0', 'company': 'Green-Hargreaves', 'commute_distance': '16.6', 'address_postcode': 'W1 0ZA'}
Element: user, Attribute: {'firstName': 'Ian', 'lastName': 'Greenwood', 'age': '28', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'single', 'salary': '26799', 'pension': '0', 'company': 'Mann-Hammond', 'commute_distance': '8.19', 'address_postcode': 'L6 4UN'}
Element: user, Attribute: {'firstName': 'Joseph', 'lastName': 'Wood', 'age': '80', 'sex': 'Male', 'retired': 'True', 'dependants': '3', 'marital_status': 'single', 'salary': '51856', 'pension': '16957', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'E8 9YD'}
Element: user, Attribute: {'firstName': 'Gavin', 'lastName': 'Kelly', 'age': '45', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'widowed', 'salary': '83264', 'pension': '0', 'company': 'Hughes-Patel', 'commute_distance': '18.25', 'address_postcode': 'L8 7RA'}
Element: user, Attribute: {'firstName': 'Abigail', 'lastName': 'Ahmed', 'age': '74', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '21961', 'pension': '0', 'company': 'Morton Ltd', 'commute_distance': '6.94', 'address_postcode': 'G9B 8LA'}
Element: user, Attribute: {'firstName': 'Rosie', 'lastName': 'Parkinson', 'age': '71', 'sex': 'Female', 'retired': 'True', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '57056', 'pension': '32239', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'B4T 9HL'}
Element: user, Attribute: {'firstName': 'Robert', 'lastName': 'Simmons', 'age': '40', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '47149', 'pension': '0', 'company': 'Cook, Nolan and Price', 'commute_distance': '12.49', 'address_postcode': 'HG7 0EQ'}
Element: user, Attribute: {'firstName': 'Callum', 'lastName': 'Middleton', 'age': '48', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '70208', 'pension': '0', 'company': 'Duffy-Moore', 'commute_distance': '16.35', 'address_postcode': 'TA9 7SD'}
Element: user, Attribute: {'firstName': 'Alan', 'lastName': 'Hughes', 'age': '75', 'sex': 'Male', 'retired': 'True', 'dependants': '4', 'marital_status': 'single', 'salary': '85744', 'pension': '25499', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'BD6Y 3SR'}
Element: user, Attribute: {'firstName': 'Molly', 'lastName': 'Richards', 'age': '59', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'widowed', 'salary': '50773', 'pension': '0', 'company': 'Williams and Sons', 'commute_distance': '13.15', 'address_postcode': 'DY1V 8QY'}
Element: user, Attribute: {'firstName': 'Helen', 'lastName': 'Begum', 'age': '64', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '46193', 'pension': '0', 'company': 'Ashton Inc', 'commute_distance': '12.32', 'address_postcode': 'HX2 0HX'}
Element: user, Attribute: {'firstName': 'Lucy', 'lastName': 'Wood', 'age': '63', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '44602', 'pension': '0', 'company': 'Harding-Savage', 'commute_distance': '12.01', 'address_postcode': 'SN1 3DU'}
Element: user, Attribute: {'firstName': 'Julia', 'lastName': 'Fry', 'age': '83', 'sex': 'Female', 'retired': 'True', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '98132', 'pension': '12873', 'company': 'N/A', 'commute_distance': '0', 'address_postcode': 'NW1M 0NN'}

In [51]:
# Iterate over the list and rename the "First Name" key to "firstName"
for item in csv_data:
    if 'First Name' in item:
        item['firstName'] = item.pop('First Name')

# Print the modified list
for item in csv_data:
    print(item)

{'Second Name': 'Smith', 'Age (Years)': '48', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Astro Cargo', 'Vehicle Year': '2009', 'Vehicle Type': 'Pickup', 'firstName': 'Leon'}
{'Second Name': 'Mason', 'Age (Years)': '35', 'Sex': 'Female', 'Vehicle Make': 'Honda', 'Vehicle Model': 'Sable', 'Vehicle Year': '2015', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Margaret'}
{'Second Name': 'Harrison', 'Age (Years)': '26', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'S60', 'Vehicle Year': '2013', 'Vehicle Type': 'SUV', 'firstName': 'Guy'}
{'Second Name': 'Robinson', 'Age (Years)': '30', 'Sex': 'Female', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Tucson', 'Vehicle Year': '2002', 'Vehicle Type': 'Sedan', 'firstName': 'Denise'}
{'Second Name': 'Fox', 'Age (Years)': '27', 'Sex': 'Male', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Dart', 'Vehicle Year': '2005', 'Vehicle Type': 'SUV', 'firstName': 'Simon'}
{'Second Name': 'Cooke', 'Age (Years)': '69', 'Sex': 'Male', 'Vehicle Make': 'Hyundai', 'Vehicle Model': 'Liberty', 'Vehicle Year': '2019', 'Vehicle Type': 'Pickup', 'firstName': 'Tom'}
{'Second Name': 'Marshall', 'Age (Years)': '86', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'Pathfinder', 'Vehicle Year': '2006', 'Vehicle Type': 'SUV', 'firstName': 'Fiona'}
{'Second Name': 'Davidson', 'Age (Years)': '84', 'Sex': 'Male', 'Vehicle Make': 'Subaru', 'Vehicle Model': 'A8', 'Vehicle Year': '2006', 'Vehicle Type': '"Sedan', 'firstName': ' Hatchback'}
{'Second Name': 'Long', 'Age (Years)': '83', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Azure T', 'Vehicle Year': '2018', 'Vehicle Type': 'Coupe', 'firstName': 'Sam'}
{'Second Name': 'Perry', 'Age (Years)': '87', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': '1500 Regular Cab', 'Vehicle Year': '2010', 'Vehicle Type': 'SUV', 'firstName': 'Sean'}
{'Second Name': 'Bennett', 'Age (Years)': '66', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Impreza', 'Vehicle Year': '1999', 'Vehicle Type': 'SUV', 'firstName': 'Jacob'}
{'Second Name': 'Henderson', 'Age (Years)': '62', 'Sex': 'Female', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'GLC Coupe', 'Vehicle Year': '2006', 'Vehicle Type': 'SUV', 'firstName': 'Lydia'}
{'Second Name': 'Slater', 'Age (Years)': '81', 'Sex': 'Male', 'Vehicle Make': 'Cadillac', 'Vehicle Model': 'RLX', 'Vehicle Year': '1992', 'Vehicle Type': 'Sedan', 'firstName': 'Nathan'}
{'Second Name': 'Russell', 'Age (Years)': '41', 'Sex': 'Female', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Voyager', 'Vehicle Year': '1992', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Claire'}
{'Second Name': 'Green', 'Age (Years)': '78', 'Sex': 'Female', 'Vehicle Make': 'Volvo', 'Vehicle Model': 'Galant', 'Vehicle Year': '1992', 'Vehicle Type': 'Wagon', 'firstName': 'Katy'}
{'Second Name': 'Moore', 'Age (Years)': '67', 'Sex': 'Male', 'Vehicle Make': 'Volkswagen', 'Vehicle Model': 'SLK-Class', 'Vehicle Year': '1997', 'Vehicle Type': 'Sedan', 'firstName': 'Duncan'}
{'Second Name': 'Miller', 'Age (Years)': '73', 'Sex': 'Female', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'del Sol', 'Vehicle Year': '2002', 'Vehicle Type': 'Sedan', 'firstName': 'Abbie'}
{'Second Name': 'Hobbs', 'Age (Years)': '21', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Rodeo', 'Vehicle Year': '1999', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Amber'}
{'Second Name': 'Daniels', 'Age (Years)': '47', 'Sex': 'Male', 'Vehicle Make': 'Volvo', 'Vehicle Model': 'Clarity Electric', 'Vehicle Year': '2016', 'Vehicle Type': 'SUV', 'firstName': 'Samuel'}
{'Second Name': 'Parry', 'Age (Years)': '66', 'Sex': 'Female', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Ram 1500 Quad Cab', 'Vehicle Year': '2003', 'Vehicle Type': '"Sedan', 'firstName': ' Coupe"'}
{'Second Name': 'Macdonald', 'Age (Years)': '67', 'Sex': 'Female', 'Vehicle Make': 'Cadillac', 'Vehicle Model': 'Camaro', 'Vehicle Year': '2016', 'Vehicle Type': '"Sedan', 'firstName': ' Hatchback"'}
{'Second Name': 'Lee', 'Age (Years)': '55', 'Sex': 'Female', 'Vehicle Make': 'Volkswagen', 'Vehicle Model': 'Grand Cherokee', 'Vehicle Year': '2015', 'Vehicle Type': 'Sedan', 'firstName': 'Eileen'}
{'Second Name': 'Mason', 'Age (Years)': '72', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Armada', 'Vehicle Year': '1993', 'Vehicle Type': '"Hatchback', 'firstName': ' Convertible"'}
{'Second Name': 'Mason', 'Age (Years)': '89', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Neon', 'Vehicle Year': '2010', 'Vehicle Type': 'Sedan', 'firstName': 'Brett'}
{'Second Name': 'Clarke', 'Age (Years)': '83', 'Sex': 'Female', 'Vehicle Make': 'Audi', 'Vehicle Model': 'Fusion', 'Vehicle Year': '2008', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Joan'}
{'Second Name': 'Harris', 'Age (Years)': '90', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'California', 'Vehicle Year': '2011', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Singh', 'Age (Years)': '77', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Ranger Super Cab', 'Vehicle Year': '1997', 'Vehicle Type': 'Pickup', 'firstName': 'Tony'}
{'Second Name': 'Austin', 'Age (Years)': '61', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'Montana', 'Vehicle Year': '2018', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Arthur'}
{'Second Name': 'Turner', 'Age (Years)': '67', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'TITAN XD Crew Cab', 'Vehicle Year': '2005', 'Vehicle Type': 'Pickup', 'firstName': 'Damien'}
{'Second Name': 'Andrews', 'Age (Years)': '57', 'Sex': 'Female', 'Vehicle Make': 'Chrysler', 'Vehicle Model': 'NX', 'Vehicle Year': '1999', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Hayes', 'Age (Years)': '48', 'Sex': 'Male', 'Vehicle Make': 'FIAT', 'Vehicle Model': 'XC90', 'Vehicle Year': '2000', 'Vehicle Type': '"Hatchback', 'firstName': ' Convertible"'}
{'Second Name': 'Holt', 'Age (Years)': '57', 'Sex': 'Female', 'Vehicle Make': 'Saab', 'Vehicle Model': 'Equus', 'Vehicle Year': '2019', 'Vehicle Type': 'SUV', 'firstName': 'Sally'}
{'Second Name': 'Davies', 'Age (Years)': '85', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Corsica', 'Vehicle Year': '1999', 'Vehicle Type': 'Sedan', 'firstName': 'Lindsey'}
{'Second Name': 'George', 'Age (Years)': '48', 'Sex': 'Male', 'Vehicle Make': 'Lexus', 'Vehicle Model': 'Ram 2500 Mega Cab', 'Vehicle Year': '2018', 'Vehicle Type': 'Hatchback', 'firstName': 'Rhys'}
{'Second Name': 'Lewis', 'Age (Years)': '44', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'Odyssey', 'Vehicle Year': '1998', 'Vehicle Type': 'Sedan', 'firstName': 'Leonard'}
{'Second Name': 'Parsons', 'Age (Years)': '19', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Acadia', 'Vehicle Year': '2018', 'Vehicle Type': 'Wagon', 'firstName': 'Sarah'}
{'Second Name': 'Baxter', 'Age (Years)': '89', 'Sex': 'Female', 'Vehicle Make': 'Rolls-Royce', 'Vehicle Model': 'Forte', 'Vehicle Year': '2000', 'Vehicle Type': 'SUV', 'firstName': 'Kim'}
{'Second Name': 'Evans', 'Age (Years)': '32', 'Sex': 'Male', 'Vehicle Make': 'Acura', 'Vehicle Model': 'Jetta', 'Vehicle Year': '2011', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Danny'}
{'Second Name': 'Smith', 'Age (Years)': '64', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Cayenne', 'Vehicle Year': '2004', 'Vehicle Type': 'SUV', 'firstName': 'Brett'}
{'Second Name': 'Bradley', 'Age (Years)': '46', 'Sex': 'Female', 'Vehicle Make': 'Ram', 'Vehicle Model': 'Veloster', 'Vehicle Year': '2019', 'Vehicle Type': 'Sedan', 'firstName': 'Jane'}
{'Second Name': 'Smith', 'Age (Years)': '60', 'Sex': 'Female', 'Vehicle Make': 'Kia', 'Vehicle Model': 'Express 2500 Cargo', 'Vehicle Year': '2009', 'Vehicle Type': 'Pickup', 'firstName': 'Paige'}
{'Second Name': 'Clarke', 'Age (Years)': '72', 'Sex': 'Male', 'Vehicle Make': 'McLaren', 'Vehicle Model': 'F150 Regular Cab', 'Vehicle Year': '2011', 'Vehicle Type': 'Pickup', 'firstName': 'Kevin'}
{'Second Name': 'Parsons', 'Age (Years)': '31', 'Sex': 'Male', 'Vehicle Make': 'Kia', 'Vehicle Model': 'Grand Vitara', 'Vehicle Year': '2008', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Ross'}
{'Second Name': 'Simpson', 'Age (Years)': '75', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'Safari Passenger', 'Vehicle Year': '2015', 'Vehicle Type': 'Hatchback', 'firstName': 'Jay'}
{'Second Name': 'Gray', 'Age (Years)': '42', 'Sex': 'Female', 'Vehicle Make': 'GMC', 'Vehicle Model': 'GTI', 'Vehicle Year': '2012', 'Vehicle Type': 'Sedan', 'firstName': 'Grace'}
{'Second Name': 'Campbell', 'Age (Years)': '63', 'Sex': 'Male', 'Vehicle Make': 'Oldsmobile', 'Vehicle Model': 'Challenger', 'Vehicle Year': '2010', 'Vehicle Type': '"Convertible', 'firstName': ' Coupe"'}
{'Second Name': 'Griffiths', 'Age (Years)': '67', 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'Colorado Crew Cab', 'Vehicle Year': '2015', 'Vehicle Type': 'Hatchback', 'firstName': 'Roger'}
{'Second Name': 'Coates', 'Age (Years)': '50', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'C-Class', 'Vehicle Year': '2005', 'Vehicle Type': 'Sedan', 'firstName': 'Mathew'}
{'Second Name': 'Brown', 'Age (Years)': '20', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'X-Type', 'Vehicle Year': '2018', 'Vehicle Type': '"Sedan', 'firstName': ' Wagon"'}
{'Second Name': 'Jones', 'Age (Years)': '48', 'Sex': 'Female', 'Vehicle Make': 'Mercury', 'Vehicle Model': 'A8', 'Vehicle Year': '2006', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Nicholson', 'Age (Years)': '91', 'Sex': 'Male', 'Vehicle Make': 'Pontiac', 'Vehicle Model': '3500 HD Regular Cab', 'Vehicle Year': '2001', 'Vehicle Type': 'Sedan', 'firstName': 'Darren'}
{'Second Name': 'Butler', 'Age (Years)': '81', 'Sex': 'Male', 'Vehicle Make': 'Oldsmobile', 'Vehicle Model': 'Vibe', 'Vehicle Year': '1999', 'Vehicle Type': 'Van/Minivan', 'firstName': 'James'}
{'Second Name': 'Sykes', 'Age (Years)': '77', 'Sex': 'Male', 'Vehicle Make': 'Chrysler', 'Vehicle Model': 'Traverse', 'Vehicle Year': '1995', 'Vehicle Type': 'SUV', 'firstName': 'Gareth'}
{'Second Name': 'Fox', 'Age (Years)': '35', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'Crown Victoria', 'Vehicle Year': '1997', 'Vehicle Type': 'Pickup', 'firstName': 'Pauline'}
{'Second Name': 'Williams', 'Age (Years)': '82', 'Sex': 'Female', 'Vehicle Make': 'Scion', 'Vehicle Model': '500', 'Vehicle Year': '2007', 'Vehicle Type': 'Sedan', 'firstName': 'Naomi'}
{'Second Name': 'Griffin', 'Age (Years)': '91', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'ProMaster Cargo Van', 'Vehicle Year': '2003', 'Vehicle Type': 'SUV', 'firstName': 'Benjamin'}
{'Second Name': 'Harrison', 'Age (Years)': '75', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'LX', 'Vehicle Year': '2017', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Kevin'}
{'Second Name': 'Thompson', 'Age (Years)': '72', 'Sex': 'Female', 'Vehicle Make': 'Audi', 'Vehicle Model': 'Vandura 3500', 'Vehicle Year': '1997', 'Vehicle Type': 'SUV', 'firstName': 'Lydia'}
{'Second Name': 'Lees', 'Age (Years)': '72', 'Sex': 'Female', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'Eldorado', 'Vehicle Year': '2005', 'Vehicle Type': 'Sedan', 'firstName': 'Paige'}
{'Second Name': 'Parker', 'Age (Years)': '44', 'Sex': 'Male', 'Vehicle Make': 'INFINITI', 'Vehicle Model': 'Montana', 'Vehicle Year': '2017', 'Vehicle Type': 'Sedan', 'firstName': 'Marc'}
{'Second Name': 'Sullivan', 'Age (Years)': '89', 'Sex': 'Male', 'Vehicle Make': 'Lexus', 'Vehicle Model': '3 Series', 'Vehicle Year': '1999', 'Vehicle Type': 'Coupe', 'firstName': 'Stephen'}
{'Second Name': 'West', 'Age (Years)': '36', 'Sex': 'Male', 'Vehicle Make': 'Lincoln', 'Vehicle Model': 'Regular Cab', 'Vehicle Year': '2009', 'Vehicle Type': 'Sedan', 'firstName': 'Charlie'}
{'Second Name': 'Hill', 'Age (Years)': '18', 'Sex': 'Male', 'Vehicle Make': 'BMW', 'Vehicle Model': 'Escalade ESV', 'Vehicle Year': '2000', 'Vehicle Type': 'Sedan', 'firstName': 'Ricky'}
{'Second Name': 'Warren', 'Age (Years)': '73', 'Sex': 'Female', 'Vehicle Make': 'Lincoln', 'Vehicle Model': 'Sierra 3500 HD Crew Cab', 'Vehicle Year': '2017', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Bethan'}
{'Second Name': 'Burns', 'Age (Years)': '83', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'Silverado 3500 HD Extended Cab', 'Vehicle Year': '2002', 'Vehicle Type': 'Wagon', 'firstName': 'Graeme'}
{'Second Name': 'Hall', 'Age (Years)': '28', 'Sex': 'Male', 'Vehicle Make': 'Cadillac', 'Vehicle Model': 'Ridgeline', 'Vehicle Year': '2020', 'Vehicle Type': 'Sedan', 'firstName': 'Brett'}
{'Second Name': 'Hussain', 'Age (Years)': '54', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Canyon Regular Cab', 'Vehicle Year': '2017', 'Vehicle Type': 'SUV', 'firstName': 'Richard'}
{'Second Name': 'Martin', 'Age (Years)': '72', 'Sex': 'Male', 'Vehicle Make': 'Honda', 'Vehicle Model': 'LS', 'Vehicle Year': '1993', 'Vehicle Type': 'Sedan', 'firstName': 'Frank'}
{'Second Name': 'Fleming', 'Age (Years)': '43', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Taurus X', 'Vehicle Year': '2015', 'Vehicle Type': 'Sedan', 'firstName': 'Harry'}
{'Second Name': 'Thompson', 'Age (Years)': '20', 'Sex': 'Female', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'GT', 'Vehicle Year': '2019', 'Vehicle Type': 'Pickup', 'firstName': 'Yvonne'}
{'Second Name': 'Brown', 'Age (Years)': '46', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'QX60', 'Vehicle Year': '2006', 'Vehicle Type': 'Van/Minivan', 'firstName': 'William'}
{'Second Name': 'Leach', 'Age (Years)': '65', 'Sex': 'Female', 'Vehicle Make': 'Volvo', 'Vehicle Model': 'Sunfire', 'Vehicle Year': '2010', 'Vehicle Type': 'SUV', 'firstName': 'Ashleigh'}
{'Second Name': 'Reeves', 'Age (Years)': '48', 'Sex': 'Male', 'Vehicle Make': 'Kia', 'Vehicle Model': 'F250 Super Duty Super Cab', 'Vehicle Year': '2014', 'Vehicle Type': 'SUV', 'firstName': 'Wayne'}
{'Second Name': 'Parkinson', 'Age (Years)': '34', 'Sex': 'Female', 'Vehicle Make': 'Ferrari', 'Vehicle Model': 'G5', 'Vehicle Year': '2015', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Anna'}
{'Second Name': 'Middleton', 'Age (Years)': '48', 'Sex': 'Male', 'Vehicle Make': 'Audi', 'Vehicle Model': 'Camry', 'Vehicle Year': '2000', 'Vehicle Type': 'Sedan', 'firstName': 'Callum'}
{'Second Name': 'Skinner', 'Age (Years)': '47', 'Sex': 'Male', 'Vehicle Make': 'Subaru', 'Vehicle Model': 'Brooklands', 'Vehicle Year': '2004', 'Vehicle Type': '"Sedan', 'firstName': ' Wagon"'}
{'Second Name': 'Smith', 'Age (Years)': '19', 'Sex': 'Female', 'Vehicle Make': 'Suzuki', 'Vehicle Model': 'Murano', 'Vehicle Year': '1995', 'Vehicle Type': 'Sedan', 'firstName': 'Kerry'}
{'Second Name': 'James', 'Age (Years)': '55', 'Sex': 'Female', 'Vehicle Make': 'Chrysler', 'Vehicle Model': '400 SE', 'Vehicle Year': '1993', 'Vehicle Type': 'Sedan', 'firstName': 'Marion'}
{'Second Name': 'Stewart', 'Age (Years)': '48', 'Sex': 'Female', 'Vehicle Make': 'Pontiac', 'Vehicle Model': 'Range Rover', 'Vehicle Year': '2006', 'Vehicle Type': 'Sedan', 'firstName': 'Amber'}
{'Second Name': 'Wilson', 'Age (Years)': '71', 'Sex': 'Female', 'Vehicle Make': 'Audi', 'Vehicle Model': 'GLS', 'Vehicle Year': '2019', 'Vehicle Type': 'SUV', 'firstName': 'Tracy'}
{'Second Name': 'Barnes', 'Age (Years)': '57', 'Sex': 'Male', 'Vehicle Make': 'Scion', 'Vehicle Model': 'Sonic', 'Vehicle Year': '2010', 'Vehicle Type': 'Pickup', 'firstName': 'Toby'}
{'Second Name': 'Atkinson', 'Age (Years)': '47', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'F450 Super Duty Crew Cab', 'Vehicle Year': '2007', 'Vehicle Type': 'SUV', 'firstName': 'Marcus'}
{'Second Name': 'Ellis', 'Age (Years)': '66', 'Sex': 'Female', 'Vehicle Make': 'Hyundai', 'Vehicle Model': 'Optima', 'Vehicle Year': '2009', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Georgia'}
{'Second Name': 'Sharp', 'Age (Years)': '47', 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'Mustang', 'Vehicle Year': '1993', 'Vehicle Type': 'Hatchback', 'firstName': 'Damien'}
{'Second Name': 'Walker', 'Age (Years)': '82', 'Sex': 'Female', 'Vehicle Make': 'Chrysler', 'Vehicle Model': 'SLK-Class', 'Vehicle Year': '2004', 'Vehicle Type': 'Pickup', 'firstName': 'Alexandra'}
{'Second Name': 'Jones', 'Age (Years)': '68', 'Sex': 'Female', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Corvette', 'Vehicle Year': '2017', 'Vehicle Type': 'Hatchback', 'firstName': 'Julie'}
{'Second Name': 'Hill', 'Age (Years)': '26', 'Sex': 'Female', 'Vehicle Make': 'Honda', 'Vehicle Model': 'S10 Extended Cab', 'Vehicle Year': '2014', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Cook', 'Age (Years)': '68', 'Sex': 'Female', 'Vehicle Make': 'Pontiac', 'Vehicle Model': 'Sprinter 3500 Cargo', 'Vehicle Year': '2003', 'Vehicle Type': 'SUV', 'firstName': 'Jacqueline'}
{'Second Name': 'Palmer', 'Age (Years)': '43', 'Sex': 'Female', 'Vehicle Make': 'Volvo', 'Vehicle Model': 'Ridgeline', 'Vehicle Year': '2018', 'Vehicle Type': '"Coupe', 'firstName': ' Sedan'}
{'Second Name': 'Perry', 'Age (Years)': '82', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'CX-30', 'Vehicle Year': '1998', 'Vehicle Type': '"Sedan', 'firstName': ' Coupe"'}
{'Second Name': 'Finch', 'Age (Years)': '74', 'Sex': 'Male', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Brooklands', 'Vehicle Year': '2005', 'Vehicle Type': 'SUV', 'firstName': 'Abdul'}
{'Second Name': 'Pugh', 'Age (Years)': '72', 'Sex': 'Male', 'Vehicle Make': 'GMC', 'Vehicle Model': 'Discovery', 'Vehicle Year': '2016', 'Vehicle Type': 'Pickup', 'firstName': 'Benjamin'}
{'Second Name': 'Harrison', 'Age (Years)': '44', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'Edge', 'Vehicle Year': '1997', 'Vehicle Type': 'Pickup', 'firstName': 'Bruce'}
{'Second Name': 'Jackson', 'Age (Years)': '21', 'Sex': 'Male', 'Vehicle Make': 'GMC', 'Vehicle Model': 'Escape', 'Vehicle Year': '2008', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Hughes', 'Age (Years)': '37', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'Silverado 3500 HD Regular Cab', 'Vehicle Year': '1994', 'Vehicle Type': 'SUV', 'firstName': 'Susan'}
{'Second Name': 'Goddard', 'Age (Years)': '69', 'Sex': 'Female', 'Vehicle Make': 'Aston Martin', 'Vehicle Model': 'Skylark', 'Vehicle Year': '2006', 'Vehicle Type': 'Coupe', 'firstName': 'Heather'}
{'Second Name': 'Hughes', 'Age (Years)': '41', 'Sex': 'Female', 'Vehicle Make': 'Buick', 'Vehicle Model': '5 Series', 'Vehicle Year': '2014', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Georgia'}
{'Second Name': 'Gibson', 'Age (Years)': '90', 'Sex': 'Female', 'Vehicle Make': 'Suzuki', 'Vehicle Model': 'Ram Van B250', 'Vehicle Year': '2002', 'Vehicle Type': 'Coupe', 'firstName': 'Stephanie'}
{'Second Name': 'Spencer', 'Age (Years)': '60', 'Sex': 'Female', 'Vehicle Make': 'Land Rover', 'Vehicle Model': 'C-Class', 'Vehicle Year': '2016', 'Vehicle Type': 'Sedan', 'firstName': 'Jennifer'}
{'Second Name': 'Mahmood', 'Age (Years)': '69', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': 'Explorer', 'Vehicle Year': '2012', 'Vehicle Type': 'SUV', 'firstName': 'Kimberley'}
{'Second Name': 'Evans', 'Age (Years)': '40', 'Sex': 'Female', 'Vehicle Make': 'Ford', 'Vehicle Model': 'B-Series Regular Cab', 'Vehicle Year': '2007', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Pearson', 'Age (Years)': '21', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'Civic', 'Vehicle Year': '2019', 'Vehicle Type': 'Pickup', 'firstName': 'Maurice'}
{'Second Name': 'Harvey', 'Age (Years)': '68', 'Sex': 'Female', 'Vehicle Make': 'Ford', 'Vehicle Model': 'F150 SuperCrew Cab', 'Vehicle Year': '2019', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Dorothy'}

In [52]:
csv_data

[{'Second Name': 'Smith',
  'Age (Years)': '48',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Astro Cargo',
  'Vehicle Year': '2009',
  'Vehicle Type': 'Pickup',
  'firstName': 'Leon'},
 {'Second Name': 'Mason',
  'Age (Years)': '35',
  'Sex': 'Female',
  'Vehicle Make': 'Honda',
  'Vehicle Model': 'Sable',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Margaret'},
 {'Second Name': 'Harrison',
  'Age (Years)': '26',
  'Sex': 'Male',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'S60',
  'Vehicle Year': '2013',
  'Vehicle Type': 'SUV',
  'firstName': 'Guy'},
 {'Second Name': 'Robinson',
  'Age (Years)': '30',
  'Sex': 'Female',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Tucson',
  'Vehicle Year': '2002',
  'Vehicle Type': 'Sedan',
  'firstName': 'Denise'},
 {'Second Name': 'Fox',
  'Age (Years)': '27',
  'Sex': 'Male',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'Dart',
  'Vehicle Year': '2005',
  'Vehicle Type': 'SUV',
  'firstName': 'Simon'},
 {'Second Name': 'Cooke',
  'Age (Years)': '69',
  'Sex': 'Male',
  'Vehicle Make': 'Hyundai',
  'Vehicle Model': 'Liberty',
  'Vehicle Year': '2019',
  'Vehicle Type': 'Pickup',
  'firstName': 'Tom'},
 {'Second Name': 'Marshall',
  'Age (Years)': '86',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'Pathfinder',
  'Vehicle Year': '2006',
  'Vehicle Type': 'SUV',
  'firstName': 'Fiona'},
 {'Second Name': 'Davidson',
  'Age (Years)': '84',
  'Sex': 'Male',
  'Vehicle Make': 'Subaru',
  'Vehicle Model': 'A8',
  'Vehicle Year': '2006',
  'Vehicle Type': '"Sedan',
  'firstName': ' Hatchback'},
 {'Second Name': 'Long',
  'Age (Years)': '83',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Azure T',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Coupe',
  'firstName': 'Sam'},
 {'Second Name': 'Perry',
  'Age (Years)': '87',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': '1500 Regular Cab',
  'Vehicle Year': '2010',
  'Vehicle Type': 'SUV',
  'firstName': 'Sean'},
 {'Second Name': 'Bennett',
  'Age (Years)': '66',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Impreza',
  'Vehicle Year': '1999',
  'Vehicle Type': 'SUV',
  'firstName': 'Jacob'},
 {'Second Name': 'Henderson',
  'Age (Years)': '62',
  'Sex': 'Female',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'GLC Coupe',
  'Vehicle Year': '2006',
  'Vehicle Type': 'SUV',
  'firstName': 'Lydia'},
 {'Second Name': 'Slater',
  'Age (Years)': '81',
  'Sex': 'Male',
  'Vehicle Make': 'Cadillac',
  'Vehicle Model': 'RLX',
  'Vehicle Year': '1992',
  'Vehicle Type': 'Sedan',
  'firstName': 'Nathan'},
 {'Second Name': 'Russell',
  'Age (Years)': '41',
  'Sex': 'Female',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Voyager',
  'Vehicle Year': '1992',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Claire'},
 {'Second Name': 'Green',
  'Age (Years)': '78',
  'Sex': 'Female',
  'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Galant',
  'Vehicle Year': '1992',
  'Vehicle Type': 'Wagon',
  'firstName': 'Katy'},
 {'Second Name': 'Moore',
  'Age (Years)': '67',
  'Sex': 'Male',
  'Vehicle Make': 'Volkswagen',
  'Vehicle Model': 'SLK-Class',
  'Vehicle Year': '1997',
  'Vehicle Type': 'Sedan',
  'firstName': 'Duncan'},
 {'Second Name': 'Miller',
  'Age (Years)': '73',
  'Sex': 'Female',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'del Sol',
  'Vehicle Year': '2002',
  'Vehicle Type': 'Sedan',
  'firstName': 'Abbie'},
 {'Second Name': 'Hobbs',
  'Age (Years)': '21',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'Rodeo',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Amber'},
 {'Second Name': 'Daniels',
  'Age (Years)': '47',
  'Sex': 'Male',
  'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Clarity Electric',
  'Vehicle Year': '2016',
  'Vehicle Type': 'SUV',
  'firstName': 'Samuel'},
 {'Second Name': 'Parry',
  'Age (Years)': '66',
  'Sex': 'Female',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Ram 1500 Quad Cab',
  'Vehicle Year': '2003',
  'Vehicle Type': '"Sedan',
  'firstName': ' Coupe"'},
 {'Second Name': 'Macdonald',
  'Age (Years)': '67',
  'Sex': 'Female',
  'Vehicle Make': 'Cadillac',
  'Vehicle Model': 'Camaro',
  'Vehicle Year': '2016',
  'Vehicle Type': '"Sedan',
  'firstName': ' Hatchback"'},
 {'Second Name': 'Lee',
  'Age (Years)': '55',
  'Sex': 'Female',
  'Vehicle Make': 'Volkswagen',
  'Vehicle Model': 'Grand Cherokee',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Sedan',
  'firstName': 'Eileen'},
 {'Second Name': 'Mason',
  'Age (Years)': '72',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'Armada',
  'Vehicle Year': '1993',
  'Vehicle Type': '"Hatchback',
  'firstName': ' Convertible"'},
 {'Second Name': 'Mason',
  'Age (Years)': '89',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Neon',
  'Vehicle Year': '2010',
  'Vehicle Type': 'Sedan',
  'firstName': 'Brett'},
 {'Second Name': 'Clarke',
  'Age (Years)': '83',
  'Sex': 'Female',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'Fusion',
  'Vehicle Year': '2008',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Joan'},
 {'Second Name': 'Harris',
  'Age (Years)': '90',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'California',
  'Vehicle Year': '2011',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Singh',
  'Age (Years)': '77',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Ranger Super Cab',
  'Vehicle Year': '1997',
  'Vehicle Type': 'Pickup',
  'firstName': 'Tony'},
 {'Second Name': 'Austin',
  'Age (Years)': '61',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'Montana',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Arthur'},
 {'Second Name': 'Turner',
  'Age (Years)': '67',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'TITAN XD Crew Cab',
  'Vehicle Year': '2005',
  'Vehicle Type': 'Pickup',
  'firstName': 'Damien'},
 {'Second Name': 'Andrews',
  'Age (Years)': '57',
  'Sex': 'Female',
  'Vehicle Make': 'Chrysler',
  'Vehicle Model': 'NX',
  'Vehicle Year': '1999',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Hayes',
  'Age (Years)': '48',
  'Sex': 'Male',
  'Vehicle Make': 'FIAT',
  'Vehicle Model': 'XC90',
  'Vehicle Year': '2000',
  'Vehicle Type': '"Hatchback',
  'firstName': ' Convertible"'},
 {'Second Name': 'Holt',
  'Age (Years)': '57',
  'Sex': 'Female',
  'Vehicle Make': 'Saab',
  'Vehicle Model': 'Equus',
  'Vehicle Year': '2019',
  'Vehicle Type': 'SUV',
  'firstName': 'Sally'},
 {'Second Name': 'Davies',
  'Age (Years)': '85',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'Corsica',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Sedan',
  'firstName': 'Lindsey'},
 {'Second Name': 'George',
  'Age (Years)': '48',
  'Sex': 'Male',
  'Vehicle Make': 'Lexus',
  'Vehicle Model': 'Ram 2500 Mega Cab',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Rhys'},
 {'Second Name': 'Lewis',
  'Age (Years)': '44',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'Odyssey',
  'Vehicle Year': '1998',
  'Vehicle Type': 'Sedan',
  'firstName': 'Leonard'},
 {'Second Name': 'Parsons',
  'Age (Years)': '19',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'Acadia',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Wagon',
  'firstName': 'Sarah'},
 {'Second Name': 'Baxter',
  'Age (Years)': '89',
  'Sex': 'Female',
  'Vehicle Make': 'Rolls-Royce',
  'Vehicle Model': 'Forte',
  'Vehicle Year': '2000',
  'Vehicle Type': 'SUV',
  'firstName': 'Kim'},
 {'Second Name': 'Evans',
  'Age (Years)': '32',
  'Sex': 'Male',
  'Vehicle Make': 'Acura',
  'Vehicle Model': 'Jetta',
  'Vehicle Year': '2011',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Danny'},
 {'Second Name': 'Smith',
  'Age (Years)': '64',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Cayenne',
  'Vehicle Year': '2004',
  'Vehicle Type': 'SUV',
  'firstName': 'Brett'},
 {'Second Name': 'Bradley',
  'Age (Years)': '46',
  'Sex': 'Female',
  'Vehicle Make': 'Ram',
  'Vehicle Model': 'Veloster',
  'Vehicle Year': '2019',
  'Vehicle Type': 'Sedan',
  'firstName': 'Jane'},
 {'Second Name': 'Smith',
  'Age (Years)': '60',
  'Sex': 'Female',
  'Vehicle Make': 'Kia',
  'Vehicle Model': 'Express 2500 Cargo',
  'Vehicle Year': '2009',
  'Vehicle Type': 'Pickup',
  'firstName': 'Paige'},
 {'Second Name': 'Clarke',
  'Age (Years)': '72',
  'Sex': 'Male',
  'Vehicle Make': 'McLaren',
  'Vehicle Model': 'F150 Regular Cab',
  'Vehicle Year': '2011',
  'Vehicle Type': 'Pickup',
  'firstName': 'Kevin'},
 {'Second Name': 'Parsons',
  'Age (Years)': '31',
  'Sex': 'Male',
  'Vehicle Make': 'Kia',
  'Vehicle Model': 'Grand Vitara',
  'Vehicle Year': '2008',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Ross'},
 {'Second Name': 'Simpson',
  'Age (Years)': '75',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'Safari Passenger',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Jay'},
 {'Second Name': 'Gray',
  'Age (Years)': '42',
  'Sex': 'Female',
  'Vehicle Make': 'GMC',
  'Vehicle Model': 'GTI',
  'Vehicle Year': '2012',
  'Vehicle Type': 'Sedan',
  'firstName': 'Grace'},
 {'Second Name': 'Campbell',
  'Age (Years)': '63',
  'Sex': 'Male',
  'Vehicle Make': 'Oldsmobile',
  'Vehicle Model': 'Challenger',
  'Vehicle Year': '2010',
  'Vehicle Type': '"Convertible',
  'firstName': ' Coupe"'},
 {'Second Name': 'Griffiths',
  'Age (Years)': '67',
  'Sex': 'Male',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'Colorado Crew Cab',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Roger'},
 {'Second Name': 'Coates',
  'Age (Years)': '50',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'C-Class',
  'Vehicle Year': '2005',
  'Vehicle Type': 'Sedan',
  'firstName': 'Mathew'},
 {'Second Name': 'Brown',
  'Age (Years)': '20',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': 'X-Type',
  'Vehicle Year': '2018',
  'Vehicle Type': '"Sedan',
  'firstName': ' Wagon"'},
 {'Second Name': 'Jones',
  'Age (Years)': '48',
  'Sex': 'Female',
  'Vehicle Make': 'Mercury',
  'Vehicle Model': 'A8',
  'Vehicle Year': '2006',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Nicholson',
  'Age (Years)': '91',
  'Sex': 'Male',
  'Vehicle Make': 'Pontiac',
  'Vehicle Model': '3500 HD Regular Cab',
  'Vehicle Year': '2001',
  'Vehicle Type': 'Sedan',
  'firstName': 'Darren'},
 {'Second Name': 'Butler',
  'Age (Years)': '81',
  'Sex': 'Male',
  'Vehicle Make': 'Oldsmobile',
  'Vehicle Model': 'Vibe',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'James'},
 {'Second Name': 'Sykes',
  'Age (Years)': '77',
  'Sex': 'Male',
  'Vehicle Make': 'Chrysler',
  'Vehicle Model': 'Traverse',
  'Vehicle Year': '1995',
  'Vehicle Type': 'SUV',
  'firstName': 'Gareth'},
 {'Second Name': 'Fox',
  'Age (Years)': '35',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'Crown Victoria',
  'Vehicle Year': '1997',
  'Vehicle Type': 'Pickup',
  'firstName': 'Pauline'},
 {'Second Name': 'Williams',
  'Age (Years)': '82',
  'Sex': 'Female',
  'Vehicle Make': 'Scion',
  'Vehicle Model': '500',
  'Vehicle Year': '2007',
  'Vehicle Type': 'Sedan',
  'firstName': 'Naomi'},
 {'Second Name': 'Griffin',
  'Age (Years)': '91',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'ProMaster Cargo Van',
  'Vehicle Year': '2003',
  'Vehicle Type': 'SUV',
  'firstName': 'Benjamin'},
 {'Second Name': 'Harrison',
  'Age (Years)': '75',
  'Sex': 'Male',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'LX',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Kevin'},
 {'Second Name': 'Thompson',
  'Age (Years)': '72',
  'Sex': 'Female',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'Vandura 3500',
  'Vehicle Year': '1997',
  'Vehicle Type': 'SUV',
  'firstName': 'Lydia'},
 {'Second Name': 'Lees',
  'Age (Years)': '72',
  'Sex': 'Female',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'Eldorado',
  'Vehicle Year': '2005',
  'Vehicle Type': 'Sedan',
  'firstName': 'Paige'},
 {'Second Name': 'Parker',
  'Age (Years)': '44',
  'Sex': 'Male',
  'Vehicle Make': 'INFINITI',
  'Vehicle Model': 'Montana',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Sedan',
  'firstName': 'Marc'},
 {'Second Name': 'Sullivan',
  'Age (Years)': '89',
  'Sex': 'Male',
  'Vehicle Make': 'Lexus',
  'Vehicle Model': '3 Series',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Coupe',
  'firstName': 'Stephen'},
 {'Second Name': 'West',
  'Age (Years)': '36',
  'Sex': 'Male',
  'Vehicle Make': 'Lincoln',
  'Vehicle Model': 'Regular Cab',
  'Vehicle Year': '2009',
  'Vehicle Type': 'Sedan',
  'firstName': 'Charlie'},
 {'Second Name': 'Hill',
  'Age (Years)': '18',
  'Sex': 'Male',
  'Vehicle Make': 'BMW',
  'Vehicle Model': 'Escalade ESV',
  'Vehicle Year': '2000',
  'Vehicle Type': 'Sedan',
  'firstName': 'Ricky'},
 {'Second Name': 'Warren',
  'Age (Years)': '73',
  'Sex': 'Female',
  'Vehicle Make': 'Lincoln',
  'Vehicle Model': 'Sierra 3500 HD Crew Cab',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Bethan'},
 {'Second Name': 'Burns',
  'Age (Years)': '83',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'Silverado 3500 HD Extended Cab',
  'Vehicle Year': '2002',
  'Vehicle Type': 'Wagon',
  'firstName': 'Graeme'},
 {'Second Name': 'Hall',
  'Age (Years)': '28',
  'Sex': 'Male',
  'Vehicle Make': 'Cadillac',
  'Vehicle Model': 'Ridgeline',
  'Vehicle Year': '2020',
  'Vehicle Type': 'Sedan',
  'firstName': 'Brett'},
 {'Second Name': 'Hussain',
  'Age (Years)': '54',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Canyon Regular Cab',
  'Vehicle Year': '2017',
  'Vehicle Type': 'SUV',
  'firstName': 'Richard'},
 {'Second Name': 'Martin',
  'Age (Years)': '72',
  'Sex': 'Male',
  'Vehicle Make': 'Honda',
  'Vehicle Model': 'LS',
  'Vehicle Year': '1993',
  'Vehicle Type': 'Sedan',
  'firstName': 'Frank'},
 {'Second Name': 'Fleming',
  'Age (Years)': '43',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Taurus X',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Sedan',
  'firstName': 'Harry'},
 {'Second Name': 'Thompson',
  'Age (Years)': '20',
  'Sex': 'Female',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'GT',
  'Vehicle Year': '2019',
  'Vehicle Type': 'Pickup',
  'firstName': 'Yvonne'},
 {'Second Name': 'Brown',
  'Age (Years)': '46',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'QX60',
  'Vehicle Year': '2006',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'William'},
 {'Second Name': 'Leach',
  'Age (Years)': '65',
  'Sex': 'Female',
  'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Sunfire',
  'Vehicle Year': '2010',
  'Vehicle Type': 'SUV',
  'firstName': 'Ashleigh'},
 {'Second Name': 'Reeves',
  'Age (Years)': '48',
  'Sex': 'Male',
  'Vehicle Make': 'Kia',
  'Vehicle Model': 'F250 Super Duty Super Cab',
  'Vehicle Year': '2014',
  'Vehicle Type': 'SUV',
  'firstName': 'Wayne'},
 {'Second Name': 'Parkinson',
  'Age (Years)': '34',
  'Sex': 'Female',
  'Vehicle Make': 'Ferrari',
  'Vehicle Model': 'G5',
  'Vehicle Year': '2015',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Anna'},
 {'Second Name': 'Middleton',
  'Age (Years)': '48',
  'Sex': 'Male',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'Camry',
  'Vehicle Year': '2000',
  'Vehicle Type': 'Sedan',
  'firstName': 'Callum'},
 {'Second Name': 'Skinner',
  'Age (Years)': '47',
  'Sex': 'Male',
  'Vehicle Make': 'Subaru',
  'Vehicle Model': 'Brooklands',
  'Vehicle Year': '2004',
  'Vehicle Type': '"Sedan',
  'firstName': ' Wagon"'},
 {'Second Name': 'Smith',
  'Age (Years)': '19',
  'Sex': 'Female',
  'Vehicle Make': 'Suzuki',
  'Vehicle Model': 'Murano',
  'Vehicle Year': '1995',
  'Vehicle Type': 'Sedan',
  'firstName': 'Kerry'},
 {'Second Name': 'James',
  'Age (Years)': '55',
  'Sex': 'Female',
  'Vehicle Make': 'Chrysler',
  'Vehicle Model': '400 SE',
  'Vehicle Year': '1993',
  'Vehicle Type': 'Sedan',
  'firstName': 'Marion'},
 {'Second Name': 'Stewart',
  'Age (Years)': '48',
  'Sex': 'Female',
  'Vehicle Make': 'Pontiac',
  'Vehicle Model': 'Range Rover',
  'Vehicle Year': '2006',
  'Vehicle Type': 'Sedan',
  'firstName': 'Amber'},
 {'Second Name': 'Wilson',
  'Age (Years)': '71',
  'Sex': 'Female',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'GLS',
  'Vehicle Year': '2019',
  'Vehicle Type': 'SUV',
  'firstName': 'Tracy'},
 {'Second Name': 'Barnes',
  'Age (Years)': '57',
  'Sex': 'Male',
  'Vehicle Make': 'Scion',
  'Vehicle Model': 'Sonic',
  'Vehicle Year': '2010',
  'Vehicle Type': 'Pickup',
  'firstName': 'Toby'},
 {'Second Name': 'Atkinson',
  'Age (Years)': '47',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'F450 Super Duty Crew Cab',
  'Vehicle Year': '2007',
  'Vehicle Type': 'SUV',
  'firstName': 'Marcus'},
 {'Second Name': 'Ellis',
  'Age (Years)': '66',
  'Sex': 'Female',
  'Vehicle Make': 'Hyundai',
  'Vehicle Model': 'Optima',
  'Vehicle Year': '2009',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Georgia'},
 {'Second Name': 'Sharp',
  'Age (Years)': '47',
  'Sex': 'Male',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'Mustang',
  'Vehicle Year': '1993',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Damien'},
 {'Second Name': 'Walker',
  'Age (Years)': '82',
  'Sex': 'Female',
  'Vehicle Make': 'Chrysler',
  'Vehicle Model': 'SLK-Class',
  'Vehicle Year': '2004',
  'Vehicle Type': 'Pickup',
  'firstName': 'Alexandra'},
 {'Second Name': 'Jones',
  'Age (Years)': '68',
  'Sex': 'Female',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Corvette',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Julie'},
 {'Second Name': 'Hill',
  'Age (Years)': '26',
  'Sex': 'Female',
  'Vehicle Make': 'Honda',
  'Vehicle Model': 'S10 Extended Cab',
  'Vehicle Year': '2014',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Cook',
  'Age (Years)': '68',
  'Sex': 'Female',
  'Vehicle Make': 'Pontiac',
  'Vehicle Model': 'Sprinter 3500 Cargo',
  'Vehicle Year': '2003',
  'Vehicle Type': 'SUV',
  'firstName': 'Jacqueline'},
 {'Second Name': 'Palmer',
  'Age (Years)': '43',
  'Sex': 'Female',
  'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Ridgeline',
  'Vehicle Year': '2018',
  'Vehicle Type': '"Coupe',
  'firstName': ' Sedan'},
 {'Second Name': 'Perry',
  'Age (Years)': '82',
  'Sex': 'Male',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'CX-30',
  'Vehicle Year': '1998',
  'Vehicle Type': '"Sedan',
  'firstName': ' Coupe"'},
 {'Second Name': 'Finch',
  'Age (Years)': '74',
  'Sex': 'Male',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Brooklands',
  'Vehicle Year': '2005',
  'Vehicle Type': 'SUV',
  'firstName': 'Abdul'},
 {'Second Name': 'Pugh',
  'Age (Years)': '72',
  'Sex': 'Male',
  'Vehicle Make': 'GMC',
  'Vehicle Model': 'Discovery',
  'Vehicle Year': '2016',
  'Vehicle Type': 'Pickup',
  'firstName': 'Benjamin'},
 {'Second Name': 'Harrison',
  'Age (Years)': '44',
  'Sex': 'Male',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'Edge',
  'Vehicle Year': '1997',
  'Vehicle Type': 'Pickup',
  'firstName': 'Bruce'},
 {'Second Name': 'Jackson',
  'Age (Years)': '21',
  'Sex': 'Male',
  'Vehicle Make': 'GMC',
  'Vehicle Model': 'Escape',
  'Vehicle Year': '2008',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Hughes',
  'Age (Years)': '37',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'Silverado 3500 HD Regular Cab',
  'Vehicle Year': '1994',
  'Vehicle Type': 'SUV',
  'firstName': 'Susan'},
 {'Second Name': 'Goddard',
  'Age (Years)': '69',
  'Sex': 'Female',
  'Vehicle Make': 'Aston Martin',
  'Vehicle Model': 'Skylark',

In [53]:
json_data

[{'firstName': 'Georgia',
  'lastName': 'Hughes',
  'age': 41,
  'iban': 'GB45WXWT19931537966579',
  'credit_card_number': '4243015041470',
  'credit_card_security_code': '539',
  'credit_card_start_date': '10/19',
  'credit_card_end_date': '10/25',
  'address_main': '65 Moss underpass',
  'address_city': 'West Frederick',
  'address_postcode': 'W6 2NR'},
 {'firstName': 'Megan',
  'lastName': 'Wright',
  'age': 18,
  'iban': 'GB57TRAN19424805079222',
  'credit_card_number': '4325524255640',
  'credit_card_security_code': '705',
  'credit_card_start_date': '10/17',
  'credit_card_end_date': '10/30',
  'address_main': 'Studio 68 Alex mountains',
  'address_city': 'Port Duncan',
  'address_postcode': 'S8D 3EQ'},
 {'firstName': 'Malcolm',
  'lastName': 'Lowe',
  'age': 72,
  'iban': 'GB86CEYI66789612628367',
  'credit_card_number': '4044359044843530',
  'credit_card_security_code': '453',
  'credit_card_start_date': '09/15',
  'credit_card_end_date': '07/16',
  'address_main': 'Studio 2 Gary mountain',
  'address_city': 'New Josephstad',
  'address_postcode': 'CR1 4EE'},
 {'firstName': 'Lynn',
  'lastName': 'Booth',
  'age': 39,
  'iban': 'GB63XHFJ81307352217368',
  'credit_card_number': '4581602368537',
  'credit_card_security_code': '566',
  'credit_card_start_date': '02/16',
  'credit_card_end_date': '03/24',
  'address_main': '5 Williams trail',
  'address_city': 'South Dannyburgh',
  'address_postcode': 'L0 8DU'},
 {'firstName': 'Charlie',
  'lastName': 'West',
  'age': 82,
  'iban': 'GB87PDEN60852250097561',
  'credit_card_number': '180008293760430',
  'credit_card_security_code': '855',
  'credit_card_start_date': '03/17',
  'credit_card_end_date': '07/18',
  'address_main': 'Studio 35b Ellis shoals',
  'address_city': 'Nelsonmouth',
  'address_postcode': 'S2 5XQ'},
 {'firstName': 'Katy',
  'lastName': 'Green',
  'age': 78,
  'iban': 'GB83MMRZ64018472597921',
  'credit_card_number': '213187531453197',
  'credit_card_security_code': '8990',
  'credit_card_start_date': '12/14',
  'credit_card_end_date': '12/33',
  'address_main': '939 Gould well',
  'address_city': 'South Scott',
  'address_postcode': 'S3 6HS'},
 {'firstName': 'Lucy',
  'lastName': 'White',
  'age': 48,
  'iban': 'GB78ZQSY56109047159084',
  'credit_card_number': '3548042722611238',
  'credit_card_security_code': '7686',
  'credit_card_start_date': '05/19',
  'credit_card_end_date': '08/23',
  'address_main': 'Flat 57 Edwards prairie',
  'address_city': 'East Danielle',
  'address_postcode': 'W5W 2WE'},
 {'firstName': 'Clive',
  'lastName': 'Smith',
  'age': 62,
  'iban': 'GB24IIHG96202017839457',
  'credit_card_number': '4539062292997652244',
  'credit_card_security_code': '871',
  'credit_card_start_date': '01/21',
  'credit_card_end_date': '03/27',
  'address_main': '312 Hussain burg',
  'address_city': 'Naylormouth',
  'address_postcode': 'WF49 3BU'},
 {'firstName': 'Gail',
  'lastName': 'Green',
  'age': 33,
  'iban': 'GB57TQXT51384105563476',
  'credit_card_number': '180003818008886',
  'credit_card_security_code': '856',
  'credit_card_start_date': '05/22',
  'credit_card_end_date': '05/22',
  'address_main': 'Flat 56 Dylan trail',
  'address_city': 'East Melissa',
  'address_postcode': 'B9 7GW'},
 {'firstName': 'Jenna',
  'lastName': 'Watkins',
  'age': 88,
  'iban': 'GB03QGQN95322217412649',
  'credit_card_number': '4268278305981',
  'credit_card_security_code': '079',
  'credit_card_start_date': '06/21',
  'credit_card_end_date': '08/32',
  'address_main': 'Studio 8 Dawn harbors',
  'address_city': 'Hallfurt',
  'address_postcode': 'L76 8XQ',
  'debt': '17210.92'},
 {'firstName': 'Carl',
  'lastName': 'Davey',
  'age': 60,
  'iban': 'GB47TCUD72706761764564',
  'credit_card_number': '4567591150370059',
  'credit_card_security_code': '759',
  'credit_card_start_date': '02/16',
  'credit_card_end_date': '01/30',
  'address_main': '35 Bradshaw fields',
  'address_city': 'Edwardshaven',
  'address_postcode': 'N4 5RJ'},
 {'firstName': 'Debra',
  'lastName': 'Parker',
  'age': 59,
  'iban': 'GB94CFHH61882226321016',
  'credit_card_number': '4635717830383',
  'credit_card_security_code': '086',
  'credit_card_start_date': '06/16',
  'credit_card_end_date': '02/17',
  'address_main': 'Studio 54 Lynne village',
  'address_city': 'Pricestad',
  'address_postcode': 'HA2 5LZ'},
 {'firstName': 'Amber',
  'lastName': 'Allen',
  'age': 64,
  'iban': 'GB49QMKG40115009249827',
  'credit_card_number': '2717401533604450',
  'credit_card_security_code': '129',
  'credit_card_start_date': '01/17',
  'credit_card_end_date': '04/20',
  'address_main': 'Studio 2 Hall oval',
  'address_city': 'Boylehaven',
  'address_postcode': 'GU56 6LG',
  'debt': {'amount': '19666.33', 'time_period_years': 5}},
 {'firstName': 'Ian',
  'lastName': 'Greenwood',
  'age': 28,
  'iban': 'GB24DCQD49529518943665',
  'credit_card_number': '3593273475263620',
  'credit_card_security_code': '260',
  'credit_card_start_date': '06/18',
  'credit_card_end_date': '02/19',
  'address_main': '1 Waters hills',
  'address_city': 'Williamshaven',
  'address_postcode': 'L6 4UN'},
 {'firstName': 'Joshua',
  'lastName': 'Harris',
  'age': 74,
  'iban': 'GB28HCAJ50137401910845',
  'credit_card_number': '180022765386186',
  'credit_card_security_code': '740',
  'credit_card_start_date': '01/21',
  'credit_card_end_date': '10/21',
  'address_main': 'Flat 36e Roy stream',
  'address_city': 'Taylorton',
  'address_postcode': 'L9E 6PZ',
  'debt': '13540.56'},
 {'firstName': 'Paige',
  'lastName': 'Sullivan',
  'age': 56,
  'iban': 'GB80SSVZ34430338191620',
  'credit_card_number': '4335590312409269',
  'credit_card_security_code': '679',
  'credit_card_start_date': '05/23',
  'credit_card_end_date': '11/29',
  'address_main': 'Studio 86h Alexander island',
  'address_city': 'Port Dianeburgh',
  'address_postcode': 'KT2A 2UJ'},
 {'firstName': 'Frank',
  'lastName': 'Turner',
  'age': 72,
  'iban': 'GB50IJZP80912271363043',
  'credit_card_number': '4195381972581',
  'credit_card_security_code': '252',
  'credit_card_start_date': '02/23',
  'credit_card_end_date': '03/30',
  'address_main': '3 Elliott spur',
  'address_city': 'Richardland',
  'address_postcode': 'N6 0TZ',
  'debt': '4592.53'},
 {'firstName': 'Sandra',
  'lastName': 'Walker',
  'age': 86,
  'iban': 'GB33BUBK55309306107633',
  'credit_card_number': '4757078812002987457',
  'credit_card_security_code': '395',
  'credit_card_start_date': '07/17',
  'credit_card_end_date': '04/32',
  'address_main': 'Flat 2 Mohammed loaf',
  'address_city': 'Martinville',
  'address_postcode': 'N0 8DY'},
 {'firstName': 'Paige',
  'lastName': 'Smith',
  'age': 60,
  'iban': 'GB79BELG16678705988455',
  'credit_card_number': '6557219219890324',
  'credit_card_security_code': '3208',
  'credit_card_start_date': '01/22',
  'credit_card_end_date': '07/22',
  'address_main': 'Flat 75N Hall well',
  'address_city': 'Begumburgh',
  'address_postcode': 'S01 8LE'},
 {'firstName': 'Terence',
  'lastName': 'Sharpe',
  'age': 65,
  'iban': 'GB40QAVM99116469152591',
  'credit_card_number': '341687852271529',
  'credit_card_security_code': '874',
  'credit_card_start_date': '02/17',
  'credit_card_end_date': '06/19',
  'address_main': 'Flat 3 Stephen pass',
  'address_city': 'Huntfort',
  'address_postcode': 'E8 6RA'},
 {'firstName': 'Hilary',
  'lastName': 'Ward',
  'age': 27,
  'iban': 'GB16XUHW58320014294754',
  'credit_card_number': '38703451089069',
  'credit_card_security_code': '953',
  'credit_card_start_date': '08/18',
  'credit_card_end_date': '04/21',
  'address_main': '328 Frank common',
  'address_city': 'West Wendyton',
  'address_postcode': 'CO93 0RY'},
 {'firstName': 'Tony',
  'lastName': 'Clark',
  'age': 48,
  'iban': 'GB65CPFN58903516158606',
  'credit_card_number': '5310497660270069',
  'credit_card_security_code': '423',
  'credit_card_start_date': '10/19',
  'credit_card_end_date': '09/31',
  'address_main': 'Flat 60 Stephenson flat',
  'address_city': 'South Kennethtown',
  'address_postcode': 'G5D 1SA'},
 {'firstName': 'Abdul',
  'lastName': 'Powell',
  'age': 68,
  'iban': 'GB29JUEK24330723845643',
  'credit_card_number': '3544656640919789',
  'credit_card_security_code': '941',
  'credit_card_start_date': '04/17',
  'credit_card_end_date': '10/32',
  'address_main': 'Flat 0 Gerald course',
  'address_city': 'Evansmouth',
  'address_postcode': 'PL0 0BB'},
 {'firstName': 'Sandra',
  'lastName': 'Chapman',
  'age': 59,
  'iban': 'GB43MGOP88443854673740',
  'credit_card_number': '6504844472832988',
  'credit_card_security_code': '215',
  'credit_card_start_date': '02/22',
  'credit_card_end_date': '10/31',
  'address_main': 'Flat 62C Alexandra village',
  'address_city': 'Robertchester',
  'address_postcode': 'HS94 6JT',
  'debt': '13631.25'},
 {'firstName': 'Jennifer',
  'lastName': 'Chamberlain',
  'age': 25,
  'iban': 'GB88OTJU45073025981646',
  'credit_card_number': '3510112836961300',
  'credit_card_security_code': '143',
  'credit_card_start_date': '11/18',
  'credit_card_end_date': '09/28',
  'address_main': 'Flat 67c Morris ville',
  'address_city': 'West Howardmouth',
  'address_postcode': 'LL67 3JH'},
 {'firstName': 'Gavin',
  'lastName': 'Whitehead',
  'age': 62,
  'iban': 'GB80BSOE54501346756482',
  'credit_card_number': '6535366180819126',
  'credit_card_security_code': '136',
  'credit_card_start_date': '10/19',
  'credit_card_end_date': '05/30',
  'address_main': 'Studio 7 Derek mountains',
  'address_city': 'New Justin',
  'address_postcode': 'BN8 1UY'},
 {'firstName': 'Shane',
  'lastName': 'Phillips',
  'age': 84,
  'iban': 'GB88UJBR15321582739040',
  'credit_card_number': '30064220333348',
  'credit_card_security_code': '674',
  'credit_card_start_date': '06/23',
  'credit_card_end_date': '04/24',
  'address_main': '513 Adam island',
  'address_city': 'New Lyndaberg',
  'address_postcode': 'OL3 9SH'},
 {'firstName': 'Beverley',
  'lastName': 'Collier',
  'age': 58,
  'iban': 'GB66EAWZ55559831954112',
  'credit_card_number': '4144659950614',
  'credit_card_security_code': '810',
  'credit_card_start_date': '03/17',
  'credit_card_end_date': '04/25',
  'address_main': '526 Amy prairie',
  'address_city': 'Nicholasberg',
  'address_postcode': 'S5B 9GS'},
 {'firstName': 'Carolyn',
  'lastName': 'Williams',
  'age': 57,
  'iban': 'GB90RSVV93328311534897',
  'credit_card_number': '3505288500314203',
  'credit_card_security_code': '356',
  'credit_card_start_date': '03/21',
  'credit_card_end_date': '06/28',
  'address_main': 'Flat 5 Simon pass',
  'address_city': 'South Sammouth',
  'address_postcode': 'N4 6PN'},
 {'firstName': 'Marc',
  'lastName': 'Jones',
  'age': 62,
  'iban': 'GB33KCDO68384395128150',
  'credit_card_number': '213103391130270',
  'credit_card_security_code': '382',
  'credit_card_start_date': '08/22',
  'credit_card_end_date': '10/25',
  'address_main': 'Studio 2 Mary crescent',
  'address_city': 'North Jacquelineton',
  'address_postcode': 'E04 4DR'},
 {'firstName': 'Marc',
  'lastName': 'Brown',
  'age': 71,
  'iban': 'GB12FPYV64082851238776',
  'credit_card_number': '060496460308',
  'credit_card_security_code': '498',
  'credit_card_start_date': '04/23',
  'credit_card_end_date': '10/27',
  'address_main': 'Studio 64g Melanie islands',
  'address_city': 'Lake Suzanneborough',
  'address_postcode': 'WD7 5RZ'},
 {'firstName': 'Ronald',
  'lastName': 'Bennett',
  'age': 27,
  'iban': 'GB87FPEU91367975795176',
  'credit_card_number': '4603830069176344271',
  'credit_card_security_code': '119',
  'credit_card_start_date': '05/22',
  'credit_card_end_date': '04/26',
  'address_main': 'Flat 4 Oliver loop',
  'address_city': 'North Jackchester',
  'address_postcode': 'TD42 2EE'},
 {'firstName': 'Trevor',
  'lastName': 'Howe',
  'age': 77,
  'iban': 'GB81JAIQ20307282583039',
  'credit_card_number': '4459821320516',
  'credit_card_security_code': '899',
  'credit_card_start_date': '10/16',
  'credit_card_end_date': '12/21',
  'address_main': 'Studio 7 Power creek',
  'address_city': 'New Julian',
  'address_postcode': 'B4 4AA'},
 {'firstName': 'Barbara',
  'lastName': 'Kemp',
  'age': 64,
  'iban': 'GB03CUMO36383184084490',
  'credit_card_number': '6518303437790496',
  'credit_card_security_code': '157',
  'credit_card_start_date': '06/20',
  'credit_card_end_date': '08/30',
  'address_main': 'Flat 20H Rebecca trail',
  'address_city': 'Lake Lauratown',
  'address_postcode': 'WD48 9PT'},
 {'firstName': 'Dawn',
  'lastName': 'Banks',
  'age': 46,
  'iban': 'GB43NFXY43530918931118',
  'credit_card_number': '3509808907091181',
  'credit_card_security_code': '686',
  'credit_card_start_date': '04/16',
  'credit_card_end_date': '09/21',
  'address_main': '2 Tracy spur',
  'address_city': 'Lake Harry',
  'address_postcode': 'SG05 6GJ'},
 {'firstName': 'Dominic',
  'lastName': 'Hayes',
  'age': 48,
  'iban': 'GB07DEES40439892276875',
  'credit_card_number': '4028001887313706380',
  'credit_card_security_code': '273',
  'credit_card_start_date': '12/20',
  'credit_card_end_date': '09/28',
  'address_main': 'Flat 63a Declan shoal',
  'address_city': 'Lake Connor',
  'address_postcode': 'RH13 7ZB',
  'debt': '11380.78'},
 {'firstName': 'Marion',
  'lastName': 'Hughes',
  'age': 78,
  'iban': 'GB22BAMY13430819821665',
  'credit_card_number': '3549869430484436',
  'credit_card_security_code': '285',
  'credit_card_start_date': '01/16',
  'credit_card_end_date': '11/21',
  'address_main': 'Studio 51c Mary pass',
  'address_city': 'Russellton',
  'address_postcode': 'SL14 7GJ'},
 {'firstName': 'Anna',
  'lastName': 'Pope',
  'age': 71,
  'iban': 'GB90ZVRM94526206666333',
  'credit_card_number': '5576504562665145',
  'credit_card_security_code': '342',
  'credit_card_start_date': '03/20',
  'credit_card_end_date': '01/28',
  'address_main': 'Studio 11i Dale mount',
  'address_city': 'South Hayleymouth',
  'address_postcode': 'LA2W 7XE'},
 {'firstName': 'Andrew',
  'lastName': 'Wilson',
  'age': 22,
  'iban': 'GB02ZDIS06129711481186',
  'credit_card_number': '6537892238032550',
  'credit_card_security_code': '979',
  'credit_card_start_date': '11/16',
  'credit_card_end_date': '06/17',
  'address_main': '531 Owen roads',
  'address_city': 'Begumchester',
  'address_postcode': 'L2H 0UF',
  'debt': '18649.47'},
 {'firstName': 'Fiona',
  'lastName': 'Marshall',
  'age': 86,
  'iban': 'GB49BDWW43070364283733',
  'credit_card_number': '4424742584764',
  'credit_card_security_code': '296',
  'credit_card_start_date': '01/19',
  'credit_card_end_date': '05/29',
  'address_main': 'Flat 03k Zoe mountains',
  'address_city': 'Mosstown',
  'address_postcode': 'B3 9ZN'},
 {'firstName': 'Jack',
  'lastName': 'Harris',
  'age': 50,
  'iban': 'GB14QCSF99108175417728',
  'credit_card_number': '2268216970955832',
  'credit_card_security_code': '407',
  'credit_card_start_date': '10/20',
  'credit_card_end_date': '10/26',
  'address_main': '16 Charlene rapid',
  'address_city': 'Arthurmouth',
  'address_postcode': 'HR7X 8ZU'},
 {'firstName': 'Rhys',
  'lastName': 'Baldwin',
  'age': 73,
  'iban': 'GB80GKJD81784842220086',
  'credit_card_number': '30305412851443',
  'credit_card_security_code': '057',
  'credit_card_start_date': '02/21',
  'credit_card_end_date': '03/27',
  'address_main': '683 Nicole turnpike',
  'address_city': 'East Kimbury',
  'address_postcode': 'BT6 0QH'},
 {'firstName': 'Mary',
  'lastName': 'Clayton',
  'age': 28,
  'iban': 'GB37EXWU19549246738181',
  'credit_card_number': '5215516154817766',
  'credit_card_security_code': '361',
  'credit_card_start_date': '01/19',
  'credit_card_end_date': '06/25',
  'address_main': 'Flat 4 Brown shores',
  'address_city': 'West Keithchester',
  'address_postcode': 'CO7 6AF'},
 {'firstName': 'Benjamin',
  'lastName': 'Watson',
  'age': 76,
  'iban': 'GB02YPTO15051381778341',
  'credit_card_number': '2535694049616329',
  'credit_card_security_code': '117',
  'credit_card_start_date': '12/17',
  'credit_card_end_date': '07/27',
  'address_main': '9 McKenzie underpass',
  'address_city': 'North Hayley',
  'address_postcode': 'SE59 0HR',
  'debt': '389.48'},
 {'firstName': 'Ricky',
  'lastName': 'Brown',
  'age': 29,
  'iban': 'GB19NRYN29472148165176',
  'credit_card_number': '5339659866012697',
  'credit_card_security_code': '844',
  'credit_card_start_date': '05/21',
  'credit_card_end_date': '05/29',
  'address_main': '946 Ellie burgs',
  'address_city': 'Port Howard',
  'address_postcode': 'S4U 7JG'},
 {'firstName': 'Ronald',
  'lastName': 'Carter',
  'age': 54,
  'iban': 'GB20ZRBQ16511995881435',
  'credit_card_number': '4146395599082014',
  'credit_card_security_code': '063',
  'credit_card_start_date': '10/22',
  'credit_card_end_date': '04/26',
  'address_main': '7 Clive course',
  'address_city': 'Amyville',
  'address_postcode': 'TW07 0DR'},
 {'firstName': 'Abigail',
  'lastName': 'Ahmed',
  'age': 74,
  'iban': 'GB68DBYO31812345719194',
  'credit_card_number': '3510692574530011',
  'credit_card_security_code': '909',
  'credit_card_start_date': '08/20',
  'credit_card_end_date': '01/29',
  'address_main': '24 Oliver club',
  'address_city': 'East Russellstad',
  'address_postcode': 'G9B 8LA'},
 {'firstName': 'Raymond',
  'lastName': 'Hall',
  'age': 32,
  'iban': 'GB62NZPG02793587770501',
  'credit_card_number': '347669572576746',
  'credit_card_security_code': '941',
  'credit_card_start_date': '02/22',
  'credit_card_end_date': '02/24',
  'address_main': '55 Thomas hollow',
  'address_city': 'Juliaburgh',
  'address_postcode': 'AB1 5TF'},
 {'firstName': 'Maureen',
  'lastName': 'Quinn',
  'age': 88,
  'iban': 'GB69WTBX49130959080415',
  'credit_card_number': '4425348272629200065',
  'credit_card_security_code': '941',
  'credit_card_start_date': '03/20',
  'credit_card_end_date': '02/24',
  'address_main': '231 McDonald common',
  'address_city': 'Jonesland',
  'address_postcode': 'L51 3UY'},
 {'firstName': 'Mathew',
  'lastName': 'Coates',
  'age': 50,
  'iban': 'GB17EMTG82275537508867',
  'credit_card_number': '3582577319082340',
  'credit_card_security_code': '136',
  'credit_card_start_date': '09/16',
  'credit_card_end_date': '12/28',
  'address_main': 'Studio 18 Smith forges',
  'address_city': 'Bellville',
  'address_postcode': 'WR7 7XG'},
 {'firstName': 'Sally',
  'lastName': 'Atkinson',
  'age': 84,
  'iban': 'GB23AVAZ50313272627046',
  'credit_card_number': '38460175181348',
  'credit_card_security_code': '685',
  'credit_card_start_date': '02/23',
  'credit_card_end_date': '07/27',
  'address_main': '69 Khan court',
  'address_city': 'Reeceside',
  'address_postcode': 'DE51 6EY'},
 {'firstName': 'Katie',
  'lastName': 'Shaw',
  'age': 91,
  'iban': 'GB73WGUB68350513539545',
  'credit_card_number': '213138295680590',
  'credit_card_security_code': '325',
  'credit_card_start_date': '07/15',
  'credit_card_end_date': '10/24',
  'address_main': '47 Alexander club',
  'address_city': 'New Annetteborough',
  'address_postcode': 'HD7 3EB'},
 {'firstName': 'Janice',
  'lastName': 'Newman',
  'age': 25,
  'iban': 'GB88ILNW94986199451298',
  'credit_card_number': '2274667022662168',
  'credit_card_security_code': '345',
  'credit_card_start_date': '01/15',
  'credit_card_end_date': '07/18',
  'address_main': 'Studio 56I Kyle plains',
  'address_city': 'North Rogerport',
  'address_postcode': 'B88 2ZF',
  'debt': '2658.11'},
 {'firstName': 'Rosie',
  'lastName': 'Benson',
  'age': 81,
  'iban': 'GB90LBEL01032983658821',
  'credit_card_number': '4798342178561126',
  'credit_card_security_code': '303',
  'credit_card_start_date': '06/20',
  'credit_card_end_date': '01/30',
  'address_main': 'Flat 28 Frank villages',
  'address_city': 'Ameliamouth',
  'address_postcode': 'W7J 3JQ',
  'debt': '5534.53'},
 {'firstName': 'Abbie',
  'lastName': 'Bull',
  'age': 71,
  'iban': 'GB75KFPE98217621587485',
  'credit_card_number': '180035917137307',
  'credit_card_security_code': '222',
  'credit_card_start_date': '06/17',
  'credit_card_end_date': '04/19',
  'address_main': 'Flat 74 Aimee ridges',

In [54]:
txt_data

['"Valerie Ellis e-mailed in overnight (Full details in Ticket #1839). During account creation something went wrong and their security code is wrong on their billing information. Bank is rejecting any payment until it\'s corrected. They\'re not sure what happened, but said to try "762". Can you please action this and try re-bill the client? Let me know if there\'s any further issues with it. Thanks"',
 '"Congratulations on the promotion West! We wouldn\'t have survived through the pandemic without you and your team. As a token of our appreciation, we\'ve given you a £2100 salary bump. This will take effect as of next month\'s payroll. At Williams-Wheeler we value the care and work you put in. See you on Monday Charlie, enjoy!"',
 '"Happy Birthday Mr Charlie Short! You\'re 52 today. Our latest offers will be sure to get you into the party spirit!"',
 '"Hannah, the pension policy has changed slightly since the meeting last week. I know you\'ve just finished putting through all the changes, but I need you to look at Mr Martin\'s file. We\'ll need to  modify it by adding another 0.15% on top of the existing £22896. Drop me a message when you\'ve done this please, it\'s quite urgent."']

In [55]:
import re

def extract_features(txt_data):
    features = []
    for item in txt_data:
        for key, value in item.items():
            # Extract first name
            match = re.search(r'"(.+?) e-mailed', key)
            if match:
                first_name = match.group(1)
                features.append({'firstName': first_name})

            # Extract ticket number
            match = re.search(r'Ticket #(\d+)', key)
            if match:
                ticket_number = match.group(1)
                features.append({'ticketNumber': ticket_number})

            # Extract security code
            match = re.search(r'try "(\d+)"', value)
            if match:
                security_code = match.group(1)
                features.append({'securityCode': security_code})

            # Extract birthday message
            match = re.search(r'Happy Birthday (.+?)!', value)
            if match:
                birthday_person = match.group(1)
                birthday_message = value.replace('"', '')
                features.append({'birthdayMessage': birthday_message})

    return features

# Example data
txt_data = [
    {
        '"Valerie Ellis e-mailed in overnight (Full details in Ticket #1839). During account creation something went wrong and their security code is wrong on their billing information. Bank is rejecting any payment until it\'s corrected. They\'re not sure what happened': '"Congratulations on the promotion West! We wouldn\'t have survived through the pandemic without you and your team. As a token of our appreciation',
        ' but said to try "762". Can you please action this and try re-bill the client? Let me know if there\'s any further issues with it. Thanks"': " we've given you a Â£2100 salary bump. This will take effect as of next month's payroll. At Williams-Wheeler we value the care and work you put in. See you on Monday Charlie"
    },
    {
        '"Valerie Ellis e-mailed in overnight (Full details in Ticket #1839). During account creation something went wrong and their security code is wrong on their billing information. Bank is rejecting any payment until it\'s corrected. They\'re not sure what happened': '"Happy Birthday Mr Charlie Short! You\'re 52 today. Our latest offers will be sure to get you into the party spirit!"'
    },
    {
        '"Valerie Ellis e-mailed in overnight (Full details in Ticket #1839). During account creation something went wrong and their security code is wrong on their billing information. Bank is rejecting any payment until it\'s corrected. They\'re not sure what happened': '"Hannah',
        ' but said to try "762". Can you please action this and try re-bill the client? Let me know if there\'s any further issues with it. Thanks"': " the pension policy has changed slightly since the meeting last week. I know you've just finished putting through all the changes"
    }
]

# Extract features from the text data
extracted_features = extract_features(txt_data)

# Print the extracted features
for feature in extracted_features:
    print(feature)

{'firstName': 'Valerie Ellis'}
{'ticketNumber': '1839'}
{'firstName': 'Valerie Ellis'}
{'ticketNumber': '1839'}
{'birthdayMessage': "Happy Birthday Mr Charlie Short! You're 52 today. Our latest offers will be sure to get you into the party spirit!"}
{'firstName': 'Valerie Ellis'}
{'ticketNumber': '1839'}

In [56]:
extracted_features

[{'firstName': 'Valerie Ellis'},
 {'ticketNumber': '1839'},
 {'firstName': 'Valerie Ellis'},
 {'ticketNumber': '1839'},
 {'birthdayMessage': "Happy Birthday Mr Charlie Short! You're 52 today. Our latest offers will be sure to get you into the party spirit!"},
 {'firstName': 'Valerie Ellis'},
 {'ticketNumber': '1839'}]

In [57]:
# Create a dictionary to store the merged data
merged_data = {}

# Merge csv_data based on "firstName"
for item in csv_data:
    first_name = item.get("firstName")
    if first_name:
        merged_data[first_name] = {**merged_data.get(first_name, {}), **item}

# Merge json_data based on "firstName"
for item in json_data:
    first_name = item.get("firstName")
    if first_name:
        merged_data[first_name] = {**merged_data.get(first_name, {}), **item}

# Merge txt_data based on "firstName"
for item in extracted_features:
    first_name = item.get("firstName")
    if first_name:
        merged_data[first_name] = {**merged_data.get(first_name, {}), **item}

# Merge xml_data based on "firstName"
for item in xml_data:
    first_name = item.get("firstName")
    if first_name:
        merged_data[first_name] = {**merged_data.get(first_name, {}), **item}

# Convert the merged data dictionary to a list of dictionaries
merged_list = list(merged_data.values())

# Print the merged data
for item in merged_list:
    print(item)

{'Second Name': 'Campbell', 'Age (Years)': '75', 'Sex': 'Male', 'Vehicle Make': 'Jaguar', 'Vehicle Model': 'Imperial', 'Vehicle Year': '2013', 'Vehicle Type': 'SUV', 'firstName': 'Leon', 'lastName': 'Wyatt', 'age': '42', 'iban': 'GB05DRJP98363742599825', 'credit_card_number': '2292406027303835', 'credit_card_security_code': '750', 'credit_card_start_date': '09/18', 'credit_card_end_date': '01/22', 'address_main': '0 Shaw plains', 'address_city': "O'Neillshire", 'address_postcode': 'BA95 5UB', 'sex': 'Male', 'retired': 'False', 'dependants': '3', 'marital_status': 'widowed', 'salary': '83864', 'pension': '0', 'company': 'Lane-Clark', 'commute_distance': '18.33'}
{'Second Name': 'Hardy', 'Age (Years)': '39', 'Sex': 'Female', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Viper', 'Vehicle Year': '2001', 'Vehicle Type': 'Hatchback', 'firstName': 'Margaret', 'lastName': 'Mason', 'age': '35', 'iban': 'GB60KAOM78304632971837', 'credit_card_number': '30231894919500', 'credit_card_security_code': '460', 'credit_card_start_date': '05/23', 'credit_card_end_date': '01/27', 'address_main': 'Studio 8 Craig stravenue', 'address_city': 'West Stephanie', 'address_postcode': 'WR2H 3NN', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '19095', 'pension': '0', 'company': 'Gibson PLC', 'commute_distance': '6.13'}
{'Second Name': 'Summers', 'Age (Years)': '42', 'Sex': 'Male', 'Vehicle Make': 'Lincoln', 'Vehicle Model': 'A4', 'Vehicle Year': '2018', 'Vehicle Type': 'Pickup', 'firstName': 'Guy', 'lastName': 'Curtis', 'age': '88', 'iban': 'GB18SZOS02567046546750', 'credit_card_number': '6500303007052780', 'credit_card_security_code': '441', 'credit_card_start_date': '06/19', 'credit_card_end_date': '08/22', 'address_main': '05 Dominic forks', 'address_city': 'South Margaret', 'address_postcode': 'B1J 0FF', 'sex': 'Male', 'retired': 'True', 'dependants': '4', 'marital_status': 'single', 'salary': '24126', 'pension': '31884', 'company': 'N/A', 'commute_distance': '0'}
{'Second Name': 'Parkin', 'Age (Years)': '25', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'A8', 'Vehicle Year': '2012', 'Vehicle Type': 'Sedan', 'firstName': 'Denise', 'lastName': 'Akhtar', 'age': '33', 'iban': 'GB88FKZX44384026238761', 'credit_card_number': '2254990223221475', 'credit_card_security_code': '083', 'credit_card_start_date': '07/22', 'credit_card_end_date': '01/31', 'address_main': '06 Neil turnpike', 'address_city': 'Christopherfurt', 'address_postcode': 'CA00 2AA', 'sex': 'Female', 'retired': 'False', 'dependants': '1', 'marital_status': 'single', 'salary': '92767', 'pension': '0', 'company': 'Butler Ltd', 'commute_distance': '19.54'}
{'Second Name': 'Reid', 'Age (Years)': '55', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'XC40', 'Vehicle Year': '2001', 'Vehicle Type': 'SUV', 'firstName': 'Simon', 'lastName': 'Fox', 'age': '27', 'iban': 'GB54PCCZ87243385056310', 'credit_card_number': '30418303284580', 'credit_card_security_code': '019', 'credit_card_start_date': '12/17', 'credit_card_end_date': '06/18', 'address_main': '715 Reed hollow', 'address_city': 'Port Leahshire', 'address_postcode': 'CT99 0XU', 'sex': 'Male', 'retired': 'False', 'dependants': '', 'marital_status': 'married or civil partner', 'salary': '46300', 'pension': '0', 'company': 'Carey-Owens', 'commute_distance': '12.34'}
{'Second Name': 'Brown', 'Age (Years)': '53', 'Sex': 'Male', 'Vehicle Make': 'INFINITI', 'Vehicle Model': 'Savana 3500 Cargo', 'Vehicle Year': '1999', 'Vehicle Type': 'Sedan', 'firstName': 'Tom', 'lastName': 'Nash', 'age': '83', 'iban': 'GB34NPSG72977326846697', 'credit_card_number': '4012717827387900815', 'credit_card_security_code': '482', 'credit_card_start_date': '12/19', 'credit_card_end_date': '11/21', 'address_main': 'Studio 3 Wood overpass', 'address_city': 'Port Cliffordborough', 'address_postcode': 'LD2P 9GS', 'sex': 'Male', 'retired': 'True', 'dependants': '1', 'marital_status': 'widowed', 'salary': '37628', 'pension': '26262', 'company': 'N/A', 'commute_distance': '0'}
{'Second Name': 'Hill', 'Age (Years)': '69', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': '3500 Regular Cab', 'Vehicle Year': '2003', 'Vehicle Type': 'SUV', 'firstName': 'Fiona', 'lastName': 'Harrison', 'age': '39', 'iban': 'GB48WKPL01438069225554', 'credit_card_number': '3599763441376898', 'credit_card_security_code': '237', 'credit_card_start_date': '01/16', 'credit_card_end_date': '02/30', 'address_main': '08 Patel ridge', 'address_city': 'Barkerfurt', 'address_postcode': 'CB2 3WW', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'single', 'salary': '41434', 'pension': '0', 'company': 'Power-Lloyd', 'commute_distance': '11.4'}
{'Second Name': 'Davidson', 'Age (Years)': '84', 'Sex': 'Male', 'Vehicle Make': 'Subaru', 'Vehicle Model': 'A8', 'Vehicle Year': '2006', 'Vehicle Type': '"Sedan', 'firstName': ' Hatchback'}
{'Second Name': 'Stevens', 'Age (Years)': '53', 'Sex': 'Male', 'Vehicle Make': 'Honda', 'Vehicle Model': 'Expedition', 'Vehicle Year': '2019', 'Vehicle Type': 'SUV', 'firstName': 'Sam', 'lastName': 'Stevens', 'age': '53', 'iban': 'GB24FLJQ36254422943415', 'credit_card_number': '213176172746530', 'credit_card_security_code': '299', 'credit_card_start_date': '12/19', 'credit_card_end_date': '02/30', 'address_main': '5 Clark shoals', 'address_city': 'West Geraldinestad', 'address_postcode': 'NN0M 3PB', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '28955', 'pension': '0', 'company': 'Austin Inc', 'commute_distance': '8.71'}
{'Second Name': 'Lee', 'Age (Years)': '24', 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'Mirage G4', 'Vehicle Year': '1993', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Sean', 'lastName': 'Jones', 'age': '39', 'iban': 'GB82SEQF14159844768484', 'credit_card_number': '374953143243515', 'credit_card_security_code': '812', 'credit_card_start_date': '06/18', 'credit_card_end_date': '06/31', 'address_main': '3 Louis ports', 'address_city': 'New Joseph', 'address_postcode': 'B91 0TX', 'debt': '17719.58', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '66423', 'pension': '0', 'company': 'Fry and Sons', 'commute_distance': '15.76'}
{'Second Name': 'Reynolds', 'Age (Years)': '35', 'Sex': 'Male', 'Vehicle Make': 'Audi', 'Vehicle Model': 'Savana 3500 Cargo', 'Vehicle Year': '2018', 'Vehicle Type': 'Sedan', 'firstName': 'Jacob', 'lastName': 'Reynolds', 'age': '35', 'iban': 'GB37OBOT69175746358471', 'credit_card_number': '4993777051811200', 'credit_card_security_code': '244', 'credit_card_start_date': '03/19', 'credit_card_end_date': '04/20', 'address_main': '0 Barnes club', 'address_city': 'New Jennachester', 'address_postcode': 'N2G 2TU', 'sex': 'Male', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '91753', 'pension': '0', 'company': 'Campbell, Baldwin and Sutton', 'commute_distance': '19.4'}
{'Second Name': 'Thompson', 'Age (Years)': '72', 'Sex': 'Female', 'Vehicle Make': 'Audi', 'Vehicle Model': 'Vandura 3500', 'Vehicle Year': '1997', 'Vehicle Type': 'SUV', 'firstName': 'Lydia', 'lastName': 'Thompson', 'age': '72', 'iban': 'GB67WCDX58285436560691', 'credit_card_number': '6593027374888462', 'credit_card_security_code': '539', 'credit_card_start_date': '04/23', 'credit_card_end_date': '10/27', 'address_main': '7 Rose dale', 'address_city': 'South Chelsea', 'address_postcode': 'RM7 9XX', 'debt': '5254.97', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '74511', 'pension': '0', 'company': 'Allen Group', 'commute_distance': '16.99'}
{'Second Name': 'Slater', 'Age (Years)': '81', 'Sex': 'Male', 'Vehicle Make': 'Cadillac', 'Vehicle Model': 'RLX', 'Vehicle Year': '1992', 'Vehicle Type': 'Sedan', 'firstName': 'Nathan', 'lastName': 'Jones', 'age': '27', 'iban': 'GB07LTNZ30627642850580', 'credit_card_number': '3577861995095736', 'credit_card_security_code': '939', 'credit_card_start_date': '10/20', 'credit_card_end_date': '06/29', 'address_main': 'Flat 71U Elizabeth mission', 'address_city': 'Ritafurt', 'address_postcode': 'S97 1LN', 'sex': 'Male', 'retired': 'False', 'dependants': '5', 'marital_status': 'single', 'salary': '61756', 'pension': '0', 'company': 'Banks-Murphy', 'commute_distance': '15.02'}
{'Second Name': 'Williams', 'Age (Years)': '86', 'Sex': 'Female', 'Vehicle Make': 'Buick', 'Vehicle Model': 'Impreza', 'Vehicle Year': '2018', 'Vehicle Type': 'Sedan', 'firstName': 'Claire', 'lastName': 'Williams', 'age': '86', 'iban': 'GB23VMSV44400712046720', 'credit_card_number': '4808078241415053577', 'credit_card_security_code': '870', 'credit_card_start_date': '06/18', 'credit_card_end_date': '02/31', 'address_main': '6 Brown plaza', 'address_city': 'West Jill', 'address_postcode': 'HS2Y 4SR', 'sex': 'Female', 'retired': 'True', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '66609', 'pension': '35100', 'company': 'N/A', 'commute_distance': '0'}
{'Second Name': 'Green', 'Age (Years)': '78', 'Sex': 'Female', 'Vehicle Make': 'Volvo', 'Vehicle Model': 'Galant', 'Vehicle Year': '1992', 'Vehicle Type': 'Wagon', 'firstName': 'Katy', 'lastName': 'Green', 'age': '78', 'iban': 'GB07FFVN34252400872652', 'credit_card_number': '2564724638176247', 'credit_card_security_code': '844', 'credit_card_start_date': '04/17', 'credit_card_end_date': '09/28', 'address_main': '64 Marie junction', 'address_city': 'Graceville', 'address_postcode': 'S3 6HS', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '47424', 'pension': '0', 'company': 'James, Richardson and Cooke', 'commute_distance': '12.54'}
{'Second Name': 'Miller', 'Age (Years)': '71', 'Sex': 'Male', 'Vehicle Make': 'Mitsubishi', 'Vehicle Model': 'Accent', 'Vehicle Year': '2020', 'Vehicle Type': 'Pickup', 'firstName': 'Duncan', 'lastName': 'Miller', 'age': '71', 'iban': 'GB43XGEC28961949459577', 'credit_card_number': '4111025253360767', 'credit_card_security_code': '996', 'credit_card_start_date': '09/21', 'credit_card_end_date': '03/29', 'address_main': 'Studio 77g Donna inlet', 'address_city': 'Geraldfurt', 'address_postcode': 'E6 9NB', 'sex': 'Male', 'retired': 'False', 'dependants': '5', 'marital_status': 'married or civil partner', 'salary': '49530', 'pension': '0', 'company': 'Reid-Grant', 'commute_distance': '12.93'}
{'Second Name': 'Fowler', 'Age (Years)': '78', 'Sex': 'Female', 'Vehicle Make': 'Toyota', 'Vehicle Model': '500 SEL', 'Vehicle Year': '2017', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Abbie', 'lastName': 'Fowler', 'age': '78', 'iban': 'GB47BDFF22587706676577', 'credit_card_number': '676293722192', 'credit_card_security_code': '842', 'credit_card_start_date': '03/19', 'credit_card_end_date': '01/27', 'address_main': '708 Jemma trafficway', 'address_city': 'North Craigview', 'address_postcode': 'L7T 0AG', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '54628', 'pension': '0', 'company': 'Wright, Price and Green', 'commute_distance': '13.83'}
{'Second Name': 'Randall', 'Age (Years)': '60', 'Sex': 'Female', 'Vehicle Make': 'Saturn', 'Vehicle Model': 'Murano', 'Vehicle Year': '1999', 'Vehicle Type': 'Sedan', 'firstName': 'Amber', 'lastName': 'Hobbs', 'age': '21', 'iban': 'GB28ASLG81139287006829', 'credit_card_number': '676374803481', 'credit_card_security_code': '566', 'credit_card_start_date': '04/15', 'credit_card_end_date': '06/29', 'address_main': '07 Terence inlet', 'address_city': 'Thomasville', 'address_postcode': 'SS66 4AX', 'debt': '12822.00', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '26372', 'pension': '0', 'company': 'Andrews, Collins and Fraser', 'commute_distance': '8.08'}
{'Second Name': "O'Connor", 'Age (Years)': '66', 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'Sierra 1500 Regular Cab', 'Vehicle Year': '1994', 'Vehicle Type': 'Van/Minivan', 'firstName': 'Samuel', 'lastName': "O'Connor", 'age': '66', 'iban': 'GB19BTSR01399446403982', 'credit_card_number': '4936506373090395', 'credit_card_security_code': '466', 'credit_card_start_date': '10/20', 'credit_card_end_date': '10/22', 'address_main': 'Studio 16 Ashley station', 'address_city': 'East Sianburgh', 'address_postcode': 'DD1 4ZH', 'debt': '5556.36', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'single', 'salary': '75987', 'pension': '0', 'company': 'Burrows-Clarke', 'commute_distance': '17.21'}
{'Second Name': 'White', 'Age (Years)': '56', 'Sex': 'Male', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'X5 M', 'Vehicle Year': '1996', 'Vehicle Type': '"Sedan', 'firstName': ' Coupe"'}
{'Second Name': 'Whitehead', 'Age (Years)': '22', 'Sex': 'Female', 'Vehicle Make': 'Chevrolet', 'Vehicle Model': 'E250 Cargo', 'Vehicle Year': '2020', 'Vehicle Type': '"Sedan', 'firstName': ' Hatchback"'}
{'Second Name': 'Thompson', 'Age (Years)': '39', 'Sex': 'Female', 'Vehicle Make': 'Honda', 'Vehicle Model': 'IS', 'Vehicle Year': '2006', 'Vehicle Type': 'Sedan', 'firstName': 'Eileen', 'lastName': 'Thompson', 'age': '39', 'iban': 'GB36QBDZ65413267651062', 'credit_card_number': '180070122645042', 'credit_card_security_code': '632', 'credit_card_start_date': '10/16', 'credit_card_end_date': '06/18', 'address_main': '74 Daniel locks', 'address_city': 'Pearceville', 'address_postcode': 'CW5M 9DZ', 'sex': 'Female', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '33323', 'pension': '0', 'company': 'Thompson Group', 'commute_distance': '9.71'}
{'Second Name': 'Harvey', 'Age (Years)': '69', 'Sex': 'Male', 'Vehicle Make': 'Cadillac', 'Vehicle Model': 'SRX', 'Vehicle Year': '2003', 'Vehicle Type': '"Coupe', 'firstName': ' Convertible"'}
{'Second Name': 'Mitchell', 'Age (Years)': '62', 'Sex': 'Male', 'Vehicle Make': 'Ford', 'Vehicle Model': 'Beetle', 'Vehicle Year': '2017', 'Vehicle Type': 'Coupe', 'firstName': 'Brett', 'lastName': 'Hall', 'age': '28', 'iban': 'GB03MSHA83095587888009', 'credit_card_number': '060458246497', 'credit_card_security_code': '4270', 'credit_card_start_date': '07/19', 'credit_card_end_date': '01/21', 'address_main': 'Studio 7 Griffin prairie', 'address_city': 'New Cheryl', 'address_postcode': 'L7B 5ZL', 'debt': '11773.43', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '86192', 'pension': '0', 'company': 'Rees-Williams', 'commute_distance': '18.65'}
{'Second Name': 'Cook', 'Age (Years)': '51', 'Sex': 'Female', 'Vehicle Make': 'Ram', 'Vehicle Model': 'Pacifica', 'Vehicle Year': '2004', 'Vehicle Type': 'SUV', 'firstName': 'Joan', 'lastName': 'Clarke', 'age': '83', 'iban': 'GB25CHZA10574135391328', 'credit_card_number': '4460488924673', 'credit_card_security_code': '229', 'credit_card_start_date': '02/19', 'credit_card_end_date': '02/27', 'address_main': 'Flat 48z Clarke mount', 'address_city': 'New Rosemaryfurt', 'address_postcode': 'BR5 4NN', 'sex': 'Female', 'retired': 'True', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '27713', 'pension': '24298', 'company': 'N/A', 'commute_distance': '0'}
{'Second Name': 'Williams', 'Age (Years)': '31', 'Sex': 'Male', 'Vehicle Make': 'Dodge', 'Vehicle Model': 'A8', 'Vehicle Year': '2010', 'Vehicle Type': 'Sedan', 'firstName': 'Tony', 'lastName': 'Gough', 'age': '69', 'iban': 'GB44SZSR04384273384963', 'credit_card_number': '3543889381224025', 'credit_card_security_code': '728', 'credit_card_start_date': '12/17', 'credit_card_end_date': '06/22', 'address_main': 'Studio 42n Gregory fall', 'address_city': 'Stephensport', 'address_postcode': 'S5 5FQ', 'sex': 'Male', 'retired': 'False', 'dependants': '3', 'marital_status': 'married or civil partner', 'salary': '38351', 'pension': '0', 'company': 'Jackson Ltd', 'commute_distance': '10.78'}
{'Second Name': 'Turner', 'Age (Years)': '70', 'Sex': 'Male', 'Vehicle Make': 'GMC', 'Vehicle Model': 'Suburban 1500', 'Vehicle Year': '2017', 'Vehicle Type': 'Convertible', 'firstName': 'Arthur', 'lastName': 'Austin', 'age': '61', 'iban': 'GB83FXBN21813364673147', 'credit_card_number': '676184645387', 'credit_card_security_code': '252', 'credit_card_start_date': '01/18', 'credit_card_end_date': '06/30', 'address_main': '46 Pugh brooks', 'address_city': 'Wrightburgh', 'address_postcode': 'G3F 2UD', 'sex': 'Male', 'retired': 'False', 'dependants': '1', 'marital_status': 'married or civil partner', 'salary': '88788', 'pension': '0', 'company': 'Dobson, French and Lane', 'commute_distance': '19.01'}
{'Second Name': 'Walsh', 'Age (Years)': '26', 'Sex': 'Male', 'Vehicle Make': 'Nissan', 'Vehicle Model': 'G80', 'Vehicle Year': '2001', 'Vehicle Type': 'SUV', 'firstName': 'Damien', 'lastName': 'Campbell', 'age': '23', 'iban': 'GB09ELLG97374955663750', 'credit_card_number': '3554652173927700', 'credit_card_security_code': '453', 'credit_card_start_date': '09/16', 'credit_card_end_date': '03/18', 'address_main': '001 Dawn knoll', 'address_city': 'West Marilynmouth', 'address_postcode': 'L1 3PE', 'debt': '11990.34', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '87750', 'pension': '0', 'company': 'Shah LLC', 'commute_distance': '18.87'}
{'Second Name': 'Atkinson', 'Age (Years)': '84', 'Sex': 'Female', 'Vehicle Make': 'Mercedes-Benz', 'Vehicle Model': 'Accord', 'Vehicle Year': '2000', 'Vehicle Type': 'SUV', 'firstName': 'Sally', 'lastName': 'Brown', 'age': '52', 'iban': 'GB65CJMP86885804433761', 'credit_card_number': '2255853101350601', 'credit_card_security_code': '249', 'credit_card_start_date': '07/18', 'credit_card_end_date': '05/30', 'address_main': '1 Edward curve', 'address_city': 'Ashleighchester', 'address_postcode': 'DY9A 2GD', 'sex': 'Female', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '30516', 'pension': '0', 'company': 'Smith Inc', 'commute_distance': '9.07'}
{'Second Name': 'Ryan', 'Age (Years)': '19', 'Sex': 'Female', 'Vehicle Make': 'Lexus', 'Vehicle Model': 'Ram 1500 Quad Cab', 'Vehicle Year': '2013', 'Vehicle Type': 'SUV', 'firstName': 'Lindsey', 'lastName': 'Davies', 'age': '85', 'iban': 'GB89JMCM91796737186394', 'credit_card_number': '38894728921646', 'credit_card_security_code': '646', 'credit_card_start_date': '11/15', 'credit_card_end_date': '10/20', 'address_main': 'Flat 42 Adam island', 'address_city': 'Simmonsburgh', 'address_postcode': 'HP2H 7XT', 'debt': '7654.13', 'sex': 'Female', 'retired': 'True', 'dependants': '2', 'marital_status': 'divorced', 'salary': '36249', 'pension': '10897', 'company': 'N/A', 'commute_distance': '0'}
{'Second Name': 'Marshall', 'Age (Years)': '34', 'Sex': 'Male', 'Vehicle Make': 'Suzuki', 'Vehicle Model': 'Grand Caravan Passenger', 'Vehicle Year': '2017', 'Vehicle Type': 'SUV', 'firstName': 'Rhys', 'lastName': 'Davies', 'age': '64', 'iban': 'GB03PPFQ93595776675386', 'credit_card_number': '180031776196104', 'credit_card_security_code': '715', 'credit_card_start_date': '04/17', 'credit_card_end_date': '03/32', 'address_main': 'Studio 9 Judith courts', 'address_city': 'West Matthew', 'address_postcode': 'CO7H 0HB', 'debt': '4340.96', 'sex': 'Male', 'retired': 'False', 'dependants': '2', 'marital_status': 'married or civil partner', 'salary': '42179', 'pension': '0', 'company': 'Sanders PLC', 'commute_distance': '11.55'}

In [58]:
merged_list

[{'Second Name': 'Campbell',
  'Age (Years)': '75',
  'Sex': 'Male',
  'Vehicle Make': 'Jaguar',
  'Vehicle Model': 'Imperial',
  'Vehicle Year': '2013',
  'Vehicle Type': 'SUV',
  'firstName': 'Leon',
  'lastName': 'Wyatt',
  'age': '42',
  'iban': 'GB05DRJP98363742599825',
  'credit_card_number': '2292406027303835',
  'credit_card_security_code': '750',
  'credit_card_start_date': '09/18',
  'credit_card_end_date': '01/22',
  'address_main': '0 Shaw plains',
  'address_city': "O'Neillshire",
  'address_postcode': 'BA95 5UB',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '3',
  'marital_status': 'widowed',
  'salary': '83864',
  'pension': '0',
  'company': 'Lane-Clark',
  'commute_distance': '18.33'},
 {'Second Name': 'Hardy',
  'Age (Years)': '39',
  'Sex': 'Female',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Viper',
  'Vehicle Year': '2001',
  'Vehicle Type': 'Hatchback',
  'firstName': 'Margaret',
  'lastName': 'Mason',
  'age': '35',
  'iban': 'GB60KAOM78304632971837',
  'credit_card_number': '30231894919500',
  'credit_card_security_code': '460',
  'credit_card_start_date': '05/23',
  'credit_card_end_date': '01/27',
  'address_main': 'Studio 8 Craig stravenue',
  'address_city': 'West Stephanie',
  'address_postcode': 'WR2H 3NN',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '1',
  'marital_status': 'married or civil partner',
  'salary': '19095',
  'pension': '0',
  'company': 'Gibson PLC',
  'commute_distance': '6.13'},
 {'Second Name': 'Summers',
  'Age (Years)': '42',
  'Sex': 'Male',
  'Vehicle Make': 'Lincoln',
  'Vehicle Model': 'A4',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Pickup',
  'firstName': 'Guy',
  'lastName': 'Curtis',
  'age': '88',
  'iban': 'GB18SZOS02567046546750',
  'credit_card_number': '6500303007052780',
  'credit_card_security_code': '441',
  'credit_card_start_date': '06/19',
  'credit_card_end_date': '08/22',
  'address_main': '05 Dominic forks',
  'address_city': 'South Margaret',
  'address_postcode': 'B1J 0FF',
  'sex': 'Male',
  'retired': 'True',
  'dependants': '4',
  'marital_status': 'single',
  'salary': '24126',
  'pension': '31884',
  'company': 'N/A',
  'commute_distance': '0'},
 {'Second Name': 'Parkin',
  'Age (Years)': '25',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'A8',
  'Vehicle Year': '2012',
  'Vehicle Type': 'Sedan',
  'firstName': 'Denise',
  'lastName': 'Akhtar',
  'age': '33',
  'iban': 'GB88FKZX44384026238761',
  'credit_card_number': '2254990223221475',
  'credit_card_security_code': '083',
  'credit_card_start_date': '07/22',
  'credit_card_end_date': '01/31',
  'address_main': '06 Neil turnpike',
  'address_city': 'Christopherfurt',
  'address_postcode': 'CA00 2AA',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '1',
  'marital_status': 'single',
  'salary': '92767',
  'pension': '0',
  'company': 'Butler Ltd',
  'commute_distance': '19.54'},
 {'Second Name': 'Reid',
  'Age (Years)': '55',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'XC40',
  'Vehicle Year': '2001',
  'Vehicle Type': 'SUV',
  'firstName': 'Simon',
  'lastName': 'Fox',
  'age': '27',
  'iban': 'GB54PCCZ87243385056310',
  'credit_card_number': '30418303284580',
  'credit_card_security_code': '019',
  'credit_card_start_date': '12/17',
  'credit_card_end_date': '06/18',
  'address_main': '715 Reed hollow',
  'address_city': 'Port Leahshire',
  'address_postcode': 'CT99 0XU',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '',
  'marital_status': 'married or civil partner',
  'salary': '46300',
  'pension': '0',
  'company': 'Carey-Owens',
  'commute_distance': '12.34'},
 {'Second Name': 'Brown',
  'Age (Years)': '53',
  'Sex': 'Male',
  'Vehicle Make': 'INFINITI',
  'Vehicle Model': 'Savana 3500 Cargo',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Sedan',
  'firstName': 'Tom',
  'lastName': 'Nash',
  'age': '83',
  'iban': 'GB34NPSG72977326846697',
  'credit_card_number': '4012717827387900815',
  'credit_card_security_code': '482',
  'credit_card_start_date': '12/19',
  'credit_card_end_date': '11/21',
  'address_main': 'Studio 3 Wood overpass',
  'address_city': 'Port Cliffordborough',
  'address_postcode': 'LD2P 9GS',
  'sex': 'Male',
  'retired': 'True',
  'dependants': '1',
  'marital_status': 'widowed',
  'salary': '37628',
  'pension': '26262',
  'company': 'N/A',
  'commute_distance': '0'},
 {'Second Name': 'Hill',
  'Age (Years)': '69',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': '3500 Regular Cab',
  'Vehicle Year': '2003',
  'Vehicle Type': 'SUV',
  'firstName': 'Fiona',
  'lastName': 'Harrison',
  'age': '39',
  'iban': 'GB48WKPL01438069225554',
  'credit_card_number': '3599763441376898',
  'credit_card_security_code': '237',
  'credit_card_start_date': '01/16',
  'credit_card_end_date': '02/30',
  'address_main': '08 Patel ridge',
  'address_city': 'Barkerfurt',
  'address_postcode': 'CB2 3WW',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '3',
  'marital_status': 'single',
  'salary': '41434',
  'pension': '0',
  'company': 'Power-Lloyd',
  'commute_distance': '11.4'},
 {'Second Name': 'Davidson',
  'Age (Years)': '84',
  'Sex': 'Male',
  'Vehicle Make': 'Subaru',
  'Vehicle Model': 'A8',
  'Vehicle Year': '2006',
  'Vehicle Type': '"Sedan',
  'firstName': ' Hatchback'},
 {'Second Name': 'Stevens',
  'Age (Years)': '53',
  'Sex': 'Male',
  'Vehicle Make': 'Honda',
  'Vehicle Model': 'Expedition',
  'Vehicle Year': '2019',
  'Vehicle Type': 'SUV',
  'firstName': 'Sam',
  'lastName': 'Stevens',
  'age': '53',
  'iban': 'GB24FLJQ36254422943415',
  'credit_card_number': '213176172746530',
  'credit_card_security_code': '299',
  'credit_card_start_date': '12/19',
  'credit_card_end_date': '02/30',
  'address_main': '5 Clark shoals',
  'address_city': 'West Geraldinestad',
  'address_postcode': 'NN0M 3PB',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'single',
  'salary': '28955',
  'pension': '0',
  'company': 'Austin Inc',
  'commute_distance': '8.71'},
 {'Second Name': 'Lee',
  'Age (Years)': '24',
  'Sex': 'Male',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'Mirage G4',
  'Vehicle Year': '1993',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Sean',
  'lastName': 'Jones',
  'age': '39',
  'iban': 'GB82SEQF14159844768484',
  'credit_card_number': '374953143243515',
  'credit_card_security_code': '812',
  'credit_card_start_date': '06/18',
  'credit_card_end_date': '06/31',
  'address_main': '3 Louis ports',
  'address_city': 'New Joseph',
  'address_postcode': 'B91 0TX',
  'debt': '17719.58',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'single',
  'salary': '66423',
  'pension': '0',
  'company': 'Fry and Sons',
  'commute_distance': '15.76'},
 {'Second Name': 'Reynolds',
  'Age (Years)': '35',
  'Sex': 'Male',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'Savana 3500 Cargo',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Sedan',
  'firstName': 'Jacob',
  'lastName': 'Reynolds',
  'age': '35',
  'iban': 'GB37OBOT69175746358471',
  'credit_card_number': '4993777051811200',
  'credit_card_security_code': '244',
  'credit_card_start_date': '03/19',
  'credit_card_end_date': '04/20',
  'address_main': '0 Barnes club',
  'address_city': 'New Jennachester',
  'address_postcode': 'N2G 2TU',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '3',
  'marital_status': 'married or civil partner',
  'salary': '91753',
  'pension': '0',
  'company': 'Campbell, Baldwin and Sutton',
  'commute_distance': '19.4'},
 {'Second Name': 'Thompson',
  'Age (Years)': '72',
  'Sex': 'Female',
  'Vehicle Make': 'Audi',
  'Vehicle Model': 'Vandura 3500',
  'Vehicle Year': '1997',
  'Vehicle Type': 'SUV',
  'firstName': 'Lydia',
  'lastName': 'Thompson',
  'age': '72',
  'iban': 'GB67WCDX58285436560691',
  'credit_card_number': '6593027374888462',
  'credit_card_security_code': '539',
  'credit_card_start_date': '04/23',
  'credit_card_end_date': '10/27',
  'address_main': '7 Rose dale',
  'address_city': 'South Chelsea',
  'address_postcode': 'RM7 9XX',
  'debt': '5254.97',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '74511',
  'pension': '0',
  'company': 'Allen Group',
  'commute_distance': '16.99'},
 {'Second Name': 'Slater',
  'Age (Years)': '81',
  'Sex': 'Male',
  'Vehicle Make': 'Cadillac',
  'Vehicle Model': 'RLX',
  'Vehicle Year': '1992',
  'Vehicle Type': 'Sedan',
  'firstName': 'Nathan',
  'lastName': 'Jones',
  'age': '27',
  'iban': 'GB07LTNZ30627642850580',
  'credit_card_number': '3577861995095736',
  'credit_card_security_code': '939',
  'credit_card_start_date': '10/20',
  'credit_card_end_date': '06/29',
  'address_main': 'Flat 71U Elizabeth mission',
  'address_city': 'Ritafurt',
  'address_postcode': 'S97 1LN',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '5',
  'marital_status': 'single',
  'salary': '61756',
  'pension': '0',
  'company': 'Banks-Murphy',
  'commute_distance': '15.02'},
 {'Second Name': 'Williams',
  'Age (Years)': '86',
  'Sex': 'Female',
  'Vehicle Make': 'Buick',
  'Vehicle Model': 'Impreza',
  'Vehicle Year': '2018',
  'Vehicle Type': 'Sedan',
  'firstName': 'Claire',
  'lastName': 'Williams',
  'age': '86',
  'iban': 'GB23VMSV44400712046720',
  'credit_card_number': '4808078241415053577',
  'credit_card_security_code': '870',
  'credit_card_start_date': '06/18',
  'credit_card_end_date': '02/31',
  'address_main': '6 Brown plaza',
  'address_city': 'West Jill',
  'address_postcode': 'HS2Y 4SR',
  'sex': 'Female',
  'retired': 'True',
  'dependants': '3',
  'marital_status': 'married or civil partner',
  'salary': '66609',
  'pension': '35100',
  'company': 'N/A',
  'commute_distance': '0'},
 {'Second Name': 'Green',
  'Age (Years)': '78',
  'Sex': 'Female',
  'Vehicle Make': 'Volvo',
  'Vehicle Model': 'Galant',
  'Vehicle Year': '1992',
  'Vehicle Type': 'Wagon',
  'firstName': 'Katy',
  'lastName': 'Green',
  'age': '78',
  'iban': 'GB07FFVN34252400872652',
  'credit_card_number': '2564724638176247',
  'credit_card_security_code': '844',
  'credit_card_start_date': '04/17',
  'credit_card_end_date': '09/28',
  'address_main': '64 Marie junction',
  'address_city': 'Graceville',
  'address_postcode': 'S3 6HS',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '47424',
  'pension': '0',
  'company': 'James, Richardson and Cooke',
  'commute_distance': '12.54'},
 {'Second Name': 'Miller',
  'Age (Years)': '71',
  'Sex': 'Male',
  'Vehicle Make': 'Mitsubishi',
  'Vehicle Model': 'Accent',
  'Vehicle Year': '2020',
  'Vehicle Type': 'Pickup',
  'firstName': 'Duncan',
  'lastName': 'Miller',
  'age': '71',
  'iban': 'GB43XGEC28961949459577',
  'credit_card_number': '4111025253360767',
  'credit_card_security_code': '996',
  'credit_card_start_date': '09/21',
  'credit_card_end_date': '03/29',
  'address_main': 'Studio 77g Donna inlet',
  'address_city': 'Geraldfurt',
  'address_postcode': 'E6 9NB',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '5',
  'marital_status': 'married or civil partner',
  'salary': '49530',
  'pension': '0',
  'company': 'Reid-Grant',
  'commute_distance': '12.93'},
 {'Second Name': 'Fowler',
  'Age (Years)': '78',
  'Sex': 'Female',
  'Vehicle Make': 'Toyota',
  'Vehicle Model': '500 SEL',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Abbie',
  'lastName': 'Fowler',
  'age': '78',
  'iban': 'GB47BDFF22587706676577',
  'credit_card_number': '676293722192',
  'credit_card_security_code': '842',
  'credit_card_start_date': '03/19',
  'credit_card_end_date': '01/27',
  'address_main': '708 Jemma trafficway',
  'address_city': 'North Craigview',
  'address_postcode': 'L7T 0AG',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '54628',
  'pension': '0',
  'company': 'Wright, Price and Green',
  'commute_distance': '13.83'},
 {'Second Name': 'Randall',
  'Age (Years)': '60',
  'Sex': 'Female',
  'Vehicle Make': 'Saturn',
  'Vehicle Model': 'Murano',
  'Vehicle Year': '1999',
  'Vehicle Type': 'Sedan',
  'firstName': 'Amber',
  'lastName': 'Hobbs',
  'age': '21',
  'iban': 'GB28ASLG81139287006829',
  'credit_card_number': '676374803481',
  'credit_card_security_code': '566',
  'credit_card_start_date': '04/15',
  'credit_card_end_date': '06/29',
  'address_main': '07 Terence inlet',
  'address_city': 'Thomasville',
  'address_postcode': 'SS66 4AX',
  'debt': '12822.00',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '26372',
  'pension': '0',
  'company': 'Andrews, Collins and Fraser',
  'commute_distance': '8.08'},
 {'Second Name': "O'Connor",
  'Age (Years)': '66',
  'Sex': 'Male',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'Sierra 1500 Regular Cab',
  'Vehicle Year': '1994',
  'Vehicle Type': 'Van/Minivan',
  'firstName': 'Samuel',
  'lastName': "O'Connor",
  'age': '66',
  'iban': 'GB19BTSR01399446403982',
  'credit_card_number': '4936506373090395',
  'credit_card_security_code': '466',
  'credit_card_start_date': '10/20',
  'credit_card_end_date': '10/22',
  'address_main': 'Studio 16 Ashley station',
  'address_city': 'East Sianburgh',
  'address_postcode': 'DD1 4ZH',
  'debt': '5556.36',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'single',
  'salary': '75987',
  'pension': '0',
  'company': 'Burrows-Clarke',
  'commute_distance': '17.21'},
 {'Second Name': 'White',
  'Age (Years)': '56',
  'Sex': 'Male',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'X5 M',
  'Vehicle Year': '1996',
  'Vehicle Type': '"Sedan',
  'firstName': ' Coupe"'},
 {'Second Name': 'Whitehead',
  'Age (Years)': '22',
  'Sex': 'Female',
  'Vehicle Make': 'Chevrolet',
  'Vehicle Model': 'E250 Cargo',
  'Vehicle Year': '2020',
  'Vehicle Type': '"Sedan',
  'firstName': ' Hatchback"'},
 {'Second Name': 'Thompson',
  'Age (Years)': '39',
  'Sex': 'Female',
  'Vehicle Make': 'Honda',
  'Vehicle Model': 'IS',
  'Vehicle Year': '2006',
  'Vehicle Type': 'Sedan',
  'firstName': 'Eileen',
  'lastName': 'Thompson',
  'age': '39',
  'iban': 'GB36QBDZ65413267651062',
  'credit_card_number': '180070122645042',
  'credit_card_security_code': '632',
  'credit_card_start_date': '10/16',
  'credit_card_end_date': '06/18',
  'address_main': '74 Daniel locks',
  'address_city': 'Pearceville',
  'address_postcode': 'CW5M 9DZ',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '3',
  'marital_status': 'married or civil partner',
  'salary': '33323',
  'pension': '0',
  'company': 'Thompson Group',
  'commute_distance': '9.71'},
 {'Second Name': 'Harvey',
  'Age (Years)': '69',
  'Sex': 'Male',
  'Vehicle Make': 'Cadillac',
  'Vehicle Model': 'SRX',
  'Vehicle Year': '2003',
  'Vehicle Type': '"Coupe',
  'firstName': ' Convertible"'},
 {'Second Name': 'Mitchell',
  'Age (Years)': '62',
  'Sex': 'Male',
  'Vehicle Make': 'Ford',
  'Vehicle Model': 'Beetle',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Coupe',
  'firstName': 'Brett',
  'lastName': 'Hall',
  'age': '28',
  'iban': 'GB03MSHA83095587888009',
  'credit_card_number': '060458246497',
  'credit_card_security_code': '4270',
  'credit_card_start_date': '07/19',
  'credit_card_end_date': '01/21',
  'address_main': 'Studio 7 Griffin prairie',
  'address_city': 'New Cheryl',
  'address_postcode': 'L7B 5ZL',
  'debt': '11773.43',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '86192',
  'pension': '0',
  'company': 'Rees-Williams',
  'commute_distance': '18.65'},
 {'Second Name': 'Cook',
  'Age (Years)': '51',
  'Sex': 'Female',
  'Vehicle Make': 'Ram',
  'Vehicle Model': 'Pacifica',
  'Vehicle Year': '2004',
  'Vehicle Type': 'SUV',
  'firstName': 'Joan',
  'lastName': 'Clarke',
  'age': '83',
  'iban': 'GB25CHZA10574135391328',
  'credit_card_number': '4460488924673',
  'credit_card_security_code': '229',
  'credit_card_start_date': '02/19',
  'credit_card_end_date': '02/27',
  'address_main': 'Flat 48z Clarke mount',
  'address_city': 'New Rosemaryfurt',
  'address_postcode': 'BR5 4NN',
  'sex': 'Female',
  'retired': 'True',
  'dependants': '3',
  'marital_status': 'married or civil partner',
  'salary': '27713',
  'pension': '24298',
  'company': 'N/A',
  'commute_distance': '0'},
 {'Second Name': 'Williams',
  'Age (Years)': '31',
  'Sex': 'Male',
  'Vehicle Make': 'Dodge',
  'Vehicle Model': 'A8',
  'Vehicle Year': '2010',
  'Vehicle Type': 'Sedan',
  'firstName': 'Tony',
  'lastName': 'Gough',
  'age': '69',
  'iban': 'GB44SZSR04384273384963',
  'credit_card_number': '3543889381224025',
  'credit_card_security_code': '728',
  'credit_card_start_date': '12/17',
  'credit_card_end_date': '06/22',
  'address_main': 'Studio 42n Gregory fall',
  'address_city': 'Stephensport',
  'address_postcode': 'S5 5FQ',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '3',
  'marital_status': 'married or civil partner',
  'salary': '38351',
  'pension': '0',
  'company': 'Jackson Ltd',
  'commute_distance': '10.78'},
 {'Second Name': 'Turner',
  'Age (Years)': '70',
  'Sex': 'Male',
  'Vehicle Make': 'GMC',
  'Vehicle Model': 'Suburban 1500',
  'Vehicle Year': '2017',
  'Vehicle Type': 'Convertible',
  'firstName': 'Arthur',
  'lastName': 'Austin',
  'age': '61',
  'iban': 'GB83FXBN21813364673147',
  'credit_card_number': '676184645387',
  'credit_card_security_code': '252',
  'credit_card_start_date': '01/18',
  'credit_card_end_date': '06/30',
  'address_main': '46 Pugh brooks',
  'address_city': 'Wrightburgh',
  'address_postcode': 'G3F 2UD',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '1',
  'marital_status': 'married or civil partner',
  'salary': '88788',
  'pension': '0',
  'company': 'Dobson, French and Lane',
  'commute_distance': '19.01'},
 {'Second Name': 'Walsh',
  'Age (Years)': '26',
  'Sex': 'Male',
  'Vehicle Make': 'Nissan',
  'Vehicle Model': 'G80',
  'Vehicle Year': '2001',
  'Vehicle Type': 'SUV',
  'firstName': 'Damien',
  'lastName': 'Campbell',
  'age': '23',
  'iban': 'GB09ELLG97374955663750',
  'credit_card_number': '3554652173927700',
  'credit_card_security_code': '453',
  'credit_card_start_date': '09/16',
  'credit_card_end_date': '03/18',
  'address_main': '001 Dawn knoll',
  'address_city': 'West Marilynmouth',
  'address_postcode': 'L1 3PE',
  'debt': '11990.34',
  'sex': 'Male',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '87750',
  'pension': '0',
  'company': 'Shah LLC',
  'commute_distance': '18.87'},
 {'Second Name': 'Atkinson',
  'Age (Years)': '84',
  'Sex': 'Female',
  'Vehicle Make': 'Mercedes-Benz',
  'Vehicle Model': 'Accord',
  'Vehicle Year': '2000',
  'Vehicle Type': 'SUV',
  'firstName': 'Sally',
  'lastName': 'Brown',
  'age': '52',
  'iban': 'GB65CJMP86885804433761',
  'credit_card_number': '2255853101350601',
  'credit_card_security_code': '249',
  'credit_card_start_date': '07/18',
  'credit_card_end_date': '05/30',
  'address_main': '1 Edward curve',
  'address_city': 'Ashleighchester',
  'address_postcode': 'DY9A 2GD',
  'sex': 'Female',
  'retired': 'False',
  'dependants': '2',
  'marital_status': 'married or civil partner',
  'salary': '30516',
  'pension': '0',
  'company': 'Smith Inc',
  'commute_distance': '9.07'},
 {'Second Name': 'Ryan',
  'Age (Years)': '19',
  'Sex': 'Female',
  'Vehicle Make': 'Lexus',
  'Vehicle Model': 'Ram 1500 Quad Cab',
  'Vehicle Year': '2013',
  'Vehicle Type': 'SUV',
  'firstName': 'Lindsey',
  'lastName': 'Davies',
  'age': '85',
  'iban': 'GB89JMCM91796737186394',
  'credit_card_number': '38894728921646',
  'credit_card_security_code': '646',
  'credit_card_start_date': '11/15',
  'credit_card_end_date': '10/20',